<!--访客分析-设备环境-->
<div class="middle_containers" ng-controller="sameGroupAnalysisCtr">
    <div class="date_select" set-class-when-at-top="fix-to-top">
        <div role="group" class="btn-group fl">
            <span class="fl"> 同类群组类型：</span>
            <ui-select ng-model="groupType.selected" theme="select2" reset-search-input="false" ng-disabled="disabled"
                       class="fl btn-delta" style="width: 160px;">
                <ui-select-match placeholder="流量获取日期">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="type in groupTypes">
                    <span ng-bind-html="type.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div role="group" class="btn-group fl">
            <span class="fl"> 同类群组规模：</span>
            <ui-select ng-model="groupScale.selected" theme="select2" reset-search-input="false" ng-disabled="disabled"
                       class="fl btn-delta" ng-change="scaleChange(groupScale.selected)" style="width: 70px;">
                <ui-select-match placeholder="按周">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="groupScale in groupScales">
                    <span ng-bind-html="groupScale.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div role="group" class="btn-group fl">
            <span class="fl"> 日期范围：</span>
            <ui-select ng-model="dateRange.selected" theme="select2" reset-search-input="false" ng-disabled="disabled"
                       class="fl btn-delta" ng-change="dateChange(dateRange.selected)" style="width: 100px;">
                <ui-select-match placeholder="过去12周">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="dateRange in dateRanges">
                    <span ng-bind-html="dateRange.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div role="group" class="btn-group fl">
            <span class="fl"> 指标：</span>
            <ui-select ng-model="groupIndex.selected" theme="select2" reset-search-input="false" ng-disabled="disabled"
                       class="fl btn-delta" ng-change="indexChange(groupIndex.selected)" style="width: 100px;">
                <ui-select-match placeholder="浏览量(pv)">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="groupIndex in groupIndexs">
                    <span ng-bind-html="groupIndex.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div role="group" class="btn-group fl">
            <button class="btn btn-default" ng-click="page_refresh()" type="button">确定</button>
        </div>

        <refresh></refresh>

    </div>
    <div class="my_concent">

        <div class="index_chart">
            <div id="myChart" class="gesture" style="height:400px;"></div>
        </div>

        <div class="group-analysis-table">
            <table>
                <thead>
                <tr>
                    <td></td>
                    <td ng-repeat="table in tables">{{table.name}}</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="groupTableDatas in groupTableDataes" ng-class="{'summaryColor':$index == 0}">

                    <!-- 标题-->
                    <td ng-class="firstBgColor">
                        <p ng-bind-html="groupTableDatas.code"></p>
                        <span ng-bind-html="groupTableDatas.userNumber"></span>
                        <span>位用户</span>
                    </td>

                    <!-- 第0天-->
                    <td ng-class="zeroColor">
                        <p ng-bind-html="groupTableDatas.data"></p>
                    </td>

                    <!--同类群组比较-->
                    <td
                        ng-repeat="groupTableData in groupTableDatas.gaResultTdDatas | limitTo : 12"
                       class="{{groupTableData.type}}">

                        <p ng-bind-html="groupTableData.data"></p>

                    </td>

<!--
                    <td ng-if="groupIndex.selected.field  == 'retentionRate' "
                        ng-repeat="groupTableData in groupTableDatas.gaResultTdDatas | limitTo : 12"
                        ng-class="{'firstBgColor':max >= groupTableData.value && groupTableData.value > maxhalf,
                              'secondBgColor':maxhalf >= groupTableData.value && groupTableData.value > half,
                              'thirdBgColor':half >= groupTableData.value && groupTableData.value > minhalf,
                              'lastBgColor':minhalf >= groupTableData.value }">

                        <p ng-bind-html="groupTableData.data"></p>-->

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
