<form role="form" name="pagetitleForm" class="form-horizontal" novalidate>
    <div class="ngdialog-buttons">
        <div class="ngdialog-tilte">新增点击图</div>
        <ul class="admin-ng-content ">
            <div class="ngdialog-buttons">
                <ul>
                    <li>点击图名称</li>
                    <li><input type="text" data-ng-focus="icon_name_focus=true" data-ng-blur="site_name_focus =false"
                               data-ng-model="dialog_page_title.icon_name" class="form-control"/></li>
                    <li data-ng-show="icon_name_focus && !dialog_page_title.icon_name" style="color: red;">不能为空</li>
                    <li>您想统计的页面</li>
                    <li><input type="text" name="remote" pagetitlectr-remote-validation
                               data-ng-focus="page_url_focus = true" data-ng-blur="page_url_focus = false"
                               data-ng-model="dialog_page_title.page_url" class="form-control" required/></li>
                    <li ng-show="pagetitleForm.remote.$error.remote" style="color: red;">网站域名重复！</li>
                    <li data-ng-show="page_url_focus && !dialog_page_title.page_url" style="color: red;">不能为空</li>
                    <br>
                    <br>
                    <li><strong>注意：</strong>请在所有想统计的页面上都安装百思慧眼统计代码。</li>
                </ul>
            </div>
        </ul>
        <div class="ng-button-div">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">返回
            </button>
            <button type="button" ng-disabled="pagetitleForm.$invalid" class="ngdialog-button ng-button"
                    ng-click="submit(0)">确定
            </button>
        </div>
    </div>
</form>