<div class="ngdialog-buttons">
    <div class="ngdialog-tilte">发送报告</div>
    <ul class="admin-ng-content transformAnalysis_send" name="sen_form">
        <li>
            <label>邮箱地址：</label>
            <input type="text" class="form-control send_input " placeholder="多个邮箱请用分号隔开" name="mail_address"
                   onfocus="this.setAttribute('placeholder','')"
                   onblur="this.setAttribute('placeholder','多个邮箱请用分号隔开')"/>
        </li>

        <li style="margin: 10px 0 0 0" >
            <label >发送周期：</label>
            <input name="send_day" class="" type="radio"/><b>每天</b>
           <input name="send_day" class="send_day_left " type="radio"/><b>每周一</b>
          <input name="send_day" class="send_day_left " type="radio"/><b>每月一号</b>

        </li>
        <li style="margin: 0">
            <label class="ngdialog_label">发送时间：</label>
            <timepicker ng-model="mytime.time" ng-change="changed()"  hour-step="hstep" minute-step="mstep" show-meridian="meridian"></timepicker>
            <!--<input type="time" class="form-control send_input_time" name="schedule_date"/>-->

            <!--<div role="group" class="btn-group">-->
            <!--<ui-select ng-model="sitetime.hour1.selected" theme="select2" reset-search-input="false"  class="fl btn-pv"-->
            <!--style="width: 120px;">-->
            <!--<ui-select-match placeholder="00:59">{{$select.selected.name}}-->
            <!--</ui-select-match>-->
            <!--<ui-select-choices repeat="hour1 in hours1">-->
            <!--<span ng-bind-html="hour1.name"></span>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--</div>-->
        </li>
        <li style="margin: 10px 0">
            <label>文件格式：</label>

            <input name="send_type" type="radio"  checked="checked" value="0"/><b>CSV</b>
            <input name="send_type" type="radio" class="send_day_left "  checked="checked" value="0"/><b>HTML</b>
            <!--<label><input name="send_type" class="send_day_left" type="radio" value="1"/>PDF</label>-->

            <p> 本格式图文并茂，支持数据量较少，体积小便于下载阅读</p>
        </li>

    </ul>
    <div class="ng-button-div">
        <button type="button" class="ngdialog-button ng-button " ng-click="sendConfig()">确认</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary " ng-click="closeThisDialog(0)">取消
        </button>
    </div>
</div>