<div class="middle_containers" ng-controller="history" ng-init="historyInit()">

    <div class="date_select">
        <b class="">历史趋势</b>
        <calendar></calendar>
        <datecontrast></datecontrast>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <ssh-date-show type="today" dimension="region"></ssh-date-show>
        <div class="index_chart">
            <div id="VistorMap_charts_legend" style="position:relative;"></div>
            <div id="VistorMap_charts" style="width:98%;height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope" ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                    <a class="ng-binding">高级筛选</a></li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <div class="chart_top2">
                        <ul>
                            <li><span>来源过滤 :</span></li>
                            <li>
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="souce.selected" theme="select2" reset-search-input="false"
                                               class="fl"
                                               style="width: 90px;" ng-change="setSource(souce.selected.value)">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="souce in souces">
                                            <span ng-bind-html="souce.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </li>
                            <li><a href="#">百度</a></li>
                            <li><a href="#">Google</a></li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>访客过滤 :</span></li>
                            <li><input type="radio" ng-click="setVisitors(0)" checked="checked"
                                       name="radio0" class="styled"/><label>全部</label></li>
                            <li><input type="radio" ng-click="setVisitors(1)" name="radio0"
                                       class="styled"/><label>新访客</label></li>
                            <li><input type="radio" ng-click="setVisitors(2)" name="radio0"
                                       class="styled"/><label>老访客</label></li>
                        </ul>
                    </div>
                    <div class="custom_select">
                        <b></b>转化目标
                        <div role="group" class="btn-group">
                            <ui-select ng-model="extendway.selected" theme="select2" reset-search-input="false" class="fl"
                                       style="width: 120px;">
                                <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="extendway in extendways">
                                    <span ng-bind-html="extendway.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom_secendtitle">
            </div>
            <div class="custom_table">
                <div ui-grid="gridOptions" class="grid" style="min-height:400px;" ui-grid-pagination
                     ui-grid-exporter></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>
