<div class="middle_containers" ng-controller="history" ng-init="historyInit()">
    <div class="date_select" set-class-when-at-top="fix-to-top">
        <b><b style="max-width: 125px;height: 40px;display: block;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;"
              title="{{webName}}">{{webName}}</b>历史趋势</b>
        <calendar></calendar>
        <datecontrast></datecontrast>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <ssh-date-show type="today" dimension="region"></ssh-date-show>
        <div class="index_chart">
            <div id="VistorMap_charts_legend" style="position:relative;"></div>
            <div id="VistorMap_charts" style="width:98%;height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope" ng-class="{active:tab===1}" ng-click="tab = 1"
                    style="width: auto;min-width: 108px">
                    <a class="ng-binding">高级筛选
                        <span>
                            <span ng-show="sourceSearch || visitorSearch">（</span>
                            <span ng-show="sourceSearch">
                                {{sourceSearch}}<i class="glyphicon glyphicon-remove"
                                                   data-ng-click="removeSourceSearch(this);" ng-show="sourceSearch"></i>
                            </span>
                            <span ng-show="visitorSearch">
                                {{visitorSearch}}<i class="glyphicon glyphicon-remove"
                                                    data-ng-click="removeVisitorSearch(this);"
                                                    ng-show="visitorSearch"></i>
                            </span>
                            <span ng-show="sourceSearch || visitorSearch">）</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <div class="chart_top2">
                        <ul>
                            <li><span>来源过滤 :</span></li>
                            <li>
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="souce.selected" theme="select2" reset-search-input="false"
                                               class="fl"
                                               style="width: 90px;" ng-change="setHistorySource(souce.selected.value)">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="souce in souces">
                                            <span ng-bind-html="souce.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select ng-model="browser.selected" theme="select2" reset-search-input="false"
                                               class="fl" data-ng-change="searchEngine(browser.selected.value)"
                                               ng-hide="browserselect"
                                               style="width: 90px; margin-left:10px;">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="browser in browsers">
                                            <span ng-bind-html="browser.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setHistoryEngine('百度')">百度</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setHistoryEngine('Google')">Google</a></li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>访客过滤 :</span></li>
                            <li><label ng-click="setHistoryVisitors(0)"><input type="radio" checked="checked"
                                                                               name="radio0" class="styled"/>全部</label>
                            </li>
                            <li><label ng-click="setHistoryVisitors(1)"><input type="radio" name="radio0"
                                                                               class="styled"/>新访客</label></li>
                            <li><label ng-click="setHistoryVisitors(2)"><input type="radio" name="radio0"
                                                                               class="styled"/>老访客</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="custom_table" ng-class="{hidePageContainer:gridApi2.grid.rows.length<=20}">
                <div ui-grid="gridOptions" class="grid clearfix transfortables" ui-grid-pagination
                     ui-grid-exporter ui-grid-auto-resize></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>
