<div class="page_ht">
    <div class="shishi"><input class='select_checkbox' type='checkbox' ng-click='Selectall()' id='Selectall'
                                 name='Selectall'>

        <p style='color: #000011;position: absolute; margin-left: 35px; '>本页全选</p>

        <p><a href='' style='color:#46b8da;position: absolute;margin-left: 60px;' ng-click='deleteall()'>批量删除</a></p>
    </div>
    <a ng-click="gridApiAdmin.pagination.previousPage()" ng-hide="gridApiAdmin.pagination.getTotalPages()<=1">上一页</a>
    <button type="button" class="btn btn_ht " data-ng-repeat="gridpage in gridpages"
            ng-class="{'current':gridApiAdmin.pagination.getPage()=={{$index+1}}}"
            ng-click="gridApiAdmin.pagination.seek($index+1)" ng-hide="gridApiAdmin.pagination.getTotalPages()<={{$index}}">
        {{$index+1}}
    </button>
    <span ng-hide="gridApiAdmin.pagination.getTotalPages()<=10">...</span>
    <button type="button" class="btn btn_ht" ng-click="gridApiAdmin.pagination.seek(gridApiAdmin.pagination.getTotalPages())"
            ng-class="{'current':gridApiAdmin.pagination.getPage()==gridApiAdmin.pagination.getTotalPages()}"
            ng-hide="gridApiAdmin.pagination.getTotalPages()<=9"> {{gridApiAdmin.pagination.getTotalPages()}}
    </button>
    <a ng-click="gridApiAdmin.pagination.nextPage()"ng-hide="gridApiAdmin.pagination.getTotalPages()<=1">下一页 </a>
    <input type="text" ng-model="page" value=""><span> /{{ gridApiAdmin.pagination.getTotalPages() }}</span>
    <button type="button" class="btn btn_ht  " ng-click="pagego(gridApiAdmin)">跳转</button><span class='pageshow'>每页显示：</span></div>