<div class="middle_containers" ng-controller="alliancectr">
    <div class="date_select">
        <div aria-label="First group" role="group" class="btn-group fl">
            <button class="btn btn-default current" type="button"><a ui-sref="alliance.uni">计划</a></button>
            <button class="btn btn-default " type="button"><a ui-sref="alliance.uni">组</a></button>
            <button class="btn btn-default" type="button"><a ui-sref="alliance.uni">投放网络</a></button>
            <button class="btn btn-default" type="button"><a ui-sref="alliance.uni">创意</a></button>
            <button class="btn btn-default" type="button"><a ui-sref="alliance.uni">关键词</a></button>
        </div>
        <div>
            <calendar></calendar>
            <refresh></refresh>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show">
            <ul>
                <li class="date_first"><h4>点击量</h4><span>34</span></li>
                <li class="date_five"><h4>消费</h4><span>34</span></li>
                <li class="date_third"><h4>访问次数</h4><span>2,574</span></li>
                <li class="date_four"><h4>访客数(UV)</h4><span>90</span></li>
                <li class="date_last"><h4>抵达率</h4><span>90</span></li>
                <li class="date_first"><h4>转化次数</h4><span>00:02:34</span></li>
            </ul>
        </div>
        <div class="index_chart">
            <div id="indicators_charts" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope"  ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                    <a class="ng-binding">高级筛选</a></li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <p class="chart_top_title">
                    <div class="chart_top chart_default">
                        <ul>
                            <li><a href="#">系统默认指标</a></li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>消费指标 :</span>
                        <ul>
                            <li ng-repeat="item in target"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,target,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>网站基础指标 :</span>
                        <ul>
                            <li ng-repeat="item in Webbased"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Webbased,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>流量质量指标:</span>
                        <ul>
                            <li ng-repeat="item in flow"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,flow,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>转化指标:</span>
                        <ul>
                            <li ng-repeat="item in transform"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,transform,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>移动搜索页指标:</span>
                        <ul>
                            <li ng-repeat="item in mobile"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,mobile,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>离线宝回呼指标:</span>
                        <ul>
                            <li ng-repeat="item in  recall"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,recall,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top chart_noborder">
                        <button class="btn btn-primary" type="button">确定</button>
                        * 可同时选择6项
                    </div>

                </div>
                <div class="custom_title" ng-show="tab === 2">
                    <div class="chart_top2">
                        <ul>
                            <li><span>地域过滤:</span></li>
                            <li>
                                <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                    <div role="group" class="btn-group">
                                        <ui-select ng-model="city.selected"theme="select2" reset-search-input="false" class="fl btn-pv" data-ng-change="setAreaFilter(city.selected.name)"
                                                   style="width: 80px;">
                                            <ui-select-match placeholder="全部">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="city in citys">
                                                <span ng-bind-html="city.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                </div>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('北京')">北京</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('上海')">上海</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('广州')">广州</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="custom_secendtitle">
                <div class="custom_select custom_select_way">
                    转化目标
                    <div role="group" class="btn-group">
                        <ui-select ng-model="page.selected" theme="select2" reset-search-input="false" class="fl"
                                   style="min-width: 120px;">
                            <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="page in pages">
                                <span ng-bind-html="page.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="custom_table">
                <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-exporter></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>