<div class="middle_containers"  ng-controller="searchctr">
    <div class="date_select">
        <b>搜索推广</b>
        <div aria-label="First group" role="group" class="btn-group fl">
            <button class="btn btn-default current" type="button" >计划</button>
            <button class="btn btn-default " type="button">单元</button>
            <button class="btn btn-default " type="button">关键词</button>
            <button class="btn btn-default" type="button"> 创意</button>
            <button class="btn btn-default" type="button">搜索词</button>
            <button class="btn btn-default" type="button">推广URL </button>
        </div>
        <div>
            <calendar></calendar>
            <dateother></dateother>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show">
            <div class="date_show">
                <ul>
                    <li class="date_first"><h4>点击量</h4><span>34</span></li>
                    <li class="date_third"><h4>消费</h4><span>34</span></li>
                    <li class="date_first"><h4>浏览量(PV)</h4><span>2,574</span></li>
                    <li class="date_last"><h4>跳出率 </h4><span>90</span></li>
                    <li class="date_last"><h4>平均访问时长 </h4><span>90</span></li>
                    <li class="date_first"><h4>转化次数</h4><span>00:02:34</span></li>
                </ul>

            </div>
        </div>
        <div class="plancheck">
            <div class="plancheck_top">
                <select class="ng-pristine ng-valid ng-touched fr" ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">指标：<option class="" value="">浏览量(PV)、转化次数</option></select>
            </div>
            <div class="plancheckbox">
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>展现量</label>
                    </li>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>点击量</label></li>
                    <li><input type="checkbox" name="radio1"> <label>消费</label></li>
                    <li><input type="checkbox" name="radio1"> <label>点击率</label></li>
                    <li><input type="checkbox" name="radio1"> <label>平均点击价格</label></li>
                </ul>
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>浏览量(PV)</label>
                    </li>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>访问次数</label></li>
                    <li><input type="checkbox" name="radio1"> <label>访客数(UV)</label></li>
                    <li><input type="checkbox" name="radio1"> <label>新访客数</label></li>
                    <li><input type="checkbox" name="radio1"> <label>新访客比率</label></li>
                    <li><input type="checkbox" name="radio1"> <label>页头访问次数</label></li>
                </ul>
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>跳出率</label>
                    </li>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>平均访问时长</label></li>
                    <li><input type="checkbox" name="radio1"> <label>平均访问页数</label></li>
                    <li><input type="checkbox" name="radio1"> <label>抵达率</label></li>
                </ul>
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>转化次数</label>
                    </li>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>转化率</label></li>
                    <li><input type="checkbox" name="radio1"> <label>平均转化成本</label></li>
                    <li><input type="checkbox" name="radio1"> <label>收益</label></li>
                    <li><input type="checkbox" name="radio1"> <label>利润</label></li>
                    <li><input type="checkbox" name="radio1"> <label>投资回报率</label></li>
                </ul>
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>搜索页直拨电话展现</label></li>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>搜索页直拨电话点击</label></li>
                    <li><input type="checkbox" name="radio1"> <label>搜索页直拨电话消费</label></li>
                    <li><input type="checkbox" name="radio1"> <label>搜索页回呼电话点击</label></li>
                    <li><input type="checkbox" name="radio1"> <label>搜索页回呼电话消费</label></li>
                    <li><input type="checkbox" name="radio1"> <label>搜索页APP下载展现</label></li>
                    <li><input type="checkbox" name="radio1"> <label>搜索页APP下载点击</label></li>
                </ul>
                <ul>
                    <li><input type="checkbox" name="radio1" checked="checked"> <label>搜索页APP下载消费</label> </li>
                    <li><span>* 最多只能勾选两项</span></li>
                </ul>
            </div>

        </div>
        <div class="index_chart">
            <div id="indicators_charts" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <tabset justified="true">
                <tab heading="自定义指标">
                    <div class="custom_title">
                        <p class="chart_top_title"><b>系统默认指标 </b></p>
                        <div class="chart_top">
                                <span>消费指标 :</span>
                                <ul>
                                    <li ng-repeat="item in target" ng-class='{current:$index==selectedRow}'
                                        ng-click='selectedWhich($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>网站基础指标 :</span>
                                <ul>
                                    <li ng-repeat="item in Webbased" ng-class='{current:$index==selectedWeb}'
                                        ng-click='selectedWebbased($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>流量质量指标:</span>
                                <ul>
                                    <li ng-repeat="item in flow" ng-class='{current:$index==selectedflow}'
                                        ng-click='selectflowd($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>转化指标:</span>
                                <ul>
                                    <li ng-repeat="item in transform" ng-class='{current:$index==selectedtransform}'
                                        ng-click='selectedform($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>移动搜索页指标:</span>
                                <ul>
                                    <li ng-repeat="item in mobile" ng-class='{current:$index==selectedmobile}'
                                        ng-click='selectedmobiles($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>离线宝回呼指标:</span>
                                <ul>
                                    <li ng-repeat="item in  recall" ng-class='{current:$index==selectedrecall}'
                                        ng-click='selectedrecalls($index)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                            <button class="btn btn-primary" type="button">确定</button>
                            * 可同时选择6项
                        </div>

                    </div>

                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <select ng-options="o.title for o in select.optionsData" ng-model="select.selectVal"
                                        class="ng-pristine ng-valid ng-touched">
                                    <option value="" class="">全部页面目标</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <table id="mytable" class="table table-hover">
                            </table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </tab>
                <tab heading="高级筛选">
                    <div class="custom_title">

                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in select.optionsData"
                                                    ng-model="select.selectVal" class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">大洲</option>
                                            </select>

                                        </div>
                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in select.optionsData"
                                                    ng-model="select.selectVal" class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">国家</option>
                                            </select>
                                        </div>

                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in select.optionsData"
                                                    ng-model="select.selectVal" class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">城市</option>
                                            </select>

                                        </div>

                                    </div>
                                </li>
                                <li><a href="#">北京</a></li>
                                <li><a href="#">上海</a></li>
                                <li><a href="#">上海</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <select ng-options="o.title for o in select.optionsData" ng-model="select.selectVal"
                                        class="ng-pristine ng-valid ng-touched">
                                    <option value="" class="">全部页面目标</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <div class="uconcentctrl" ng-controller="SearchCtrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>

                        </div>
                    </div>
                </tab>
            </tabset>


        </div>
    </div>
</div>