<div class="middle_containers" ng-controller="search_dy_ctr">
    <div class="date_select">
        <div aria-label="First group" role="group" class="btn-group fl">
            <a class="btn btn-default" data-ng-href="#extension/search" type="button">计划</a>
            <a class="btn btn-default current" data-ng-href="#extension/search_dy" type="button">单元</a>
            <a class="btn btn-default" data-ng-href="#extension/search_gjc" type="button">关键词</a>
            <a class="btn btn-default" data-ng-href="#extension/search_cy" type="button"> 创意</a>
            <a class="btn btn-default" data-ng-href="#extension/search_ssc" type="button">搜索词</a>
            <a class="btn btn-default" data-ng-href="#extension/search_tg_url" type="button">推广URL </a>
        </div>
        <div>
            <calendar></calendar>
            <dateother></dateother>
        </div>
    </div>
    <div class="my_concent">
        <ssh-date-show type="yesterday" dimension="br" sem-type="adgroup"></ssh-date-show>
        <div class="index_chart">
            <div id="indicators_charts_legend"></div>
            <div id="indicators_charts" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="SearchPromotion">
            <tabset justified="true">
                <tab heading="自定义指标">
                    <div class="custom_title">
                        <p class="chart_top_title">

                        <div class="chart_top chart_default">
                            <ul>
                                <li><a href="javascript:void(0)" data-ssh-default-quota="search_dy">系统默认指标</a></li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>消费指标 :</span>
                            <ul>
                                <li ng-repeat="item in target" data-search-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='searchIndicators(item,target,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in Webbased" data-search-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='searchIndicators(item,Webbased,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in flow" data-search-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='searchIndicators(item,flow,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <!--<div class="chart_top">
                                <span>转化指标:</span>
                                <ul>
                                    <li ng-repeat="item in transform" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                        ng-click='searchIndicators(item.name,transform,6)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>移动搜索页指标:</span>
                                <ul>
                                    <li ng-repeat="item in mobile" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                        ng-click='searchIndicators(item.name,mobile,6)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>
                        <div class="chart_top">
                                <span>离线宝回呼指标:</span>
                                <ul>
                                    <li ng-repeat="item in  recall" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                        ng-click='searchIndicators(item.name,recall,6)'>{{item.consumption_name}}
                                    </li>
                                </ul>
                        </div>-->
                        <div class="chart_top chart_noborder">
                            <button class="btn btn-primary" type="button" ng-click="targetSearchSpread(true)">确定
                            </button>
                            * 可同时选择6项
                        </div>
                    </div>
                </tab>
                <tab heading="高级筛选">
                    <div class="custom_title">
                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="city.selected" theme="select2" reset-search-input="false" class="fl btn-pv"
                                                       data-ng-change="setAreaFilter(city.selected.name)"
                                                       style="width: 80px;">
                                                <ui-select-match placeholder="全部">{{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="city in citys">
                                                    <span ng-bind-html="city.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('北京')">北京</a></li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('上海')">上海</a></li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('广州')">广州</a></li>
                            </ul>
                        </div>
                    </div>
                </tab>
            </tabset>
            <div class="custom_secendtitle">
                <div class="custom_select">
                    转化目标
                    <div role="group" class="btn-group">
                        <ui-select ng-model="page.selected" theme="select2" reset-search-input="false" class="fl" style="min-width: 120px;">
                            <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="page in pages">
                                <span ng-bind-html="page.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!--<div class="custom_table">
                    <div class="uconcentctrl" ng-controller="SearchCtrl">
                        <div ui-grid="gridOptions" class="grid" style="height:400px;" ui-grid-selection
                             ui-grid-exporter></div>
                        <gridpage></gridpage>
                    </div>
                </div>-->
                <div class="custom_table">
                    <div ui-grid="gridOptions" class="grid" style="min-height:400px;" ui-grid-pagination
                         ui-grid-selection ui-grid-exporter></div>
                    <gridpage></gridpage>
                </div>
            </div>
        </div>
    </div>
</div>