<div class="middle_containers" ng-controller="SurveyCtrl">
    <div class="my_concent">
        <div>
            <div class="select_top">
                <ui-select ng-model="survey.selected"  theme="select2" reset-search-input="false"  class="fl" style="width: 120px;">
                    <ui-select-match placeholder="全部推广方式">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="survey in surveys">
                        <span ng-bind-html="survey.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div ui-grid="gridOptions" class="grid clearfix "  ui-grid-pinning></div>
        <div class="survey_chart">
            <div class="select_top select_timechoice">
                <b class="fl">投放指标：</b>
                <ui-select ng-model="outQuotas.selected"  theme="select2" reset-search-input="false" class="fl" style="min-width: 100px;"
                           ng-change="setOutQuota(outQuotas.selected)">
                    <ui-select-match placeholder="消费">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="outQuotas in outQuota| filter: $select.search">
                        <span ng-bind-html="outQuotas.name"></span>
                    </ui-select-choices>
                </ui-select>
                <b class="fl">效果指标:</b>
                <ui-select ng-model="effectQuot as.selected" theme="select2" reset-search-input="false" class="fl" style="min-width: 100px;"
                           ng-change="setEffectQuota(effectQuotas.selected)">
                    <ui-select-match placeholder="访问次数">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="effectQuotas in effectQuota">
                        <span ng-bind-html="effectQuotas.name"></span>
                    </ui-select-choices>
                </ui-select>
                 <calendar></calendar>
            </div>
            <div class="chart_color">
                <ul>
                    <li><span class="color_first"></span><b>{{outQuotas.selected.name||"消费"}}</b></li>
                    <li><span class="color_selcend"></span><b>{{effectQuotas.selected.name||"访问次数"}}</b></li>
                </ul>
            </div>
            <div id="index_charts" style="height:400px;width:100%; overflow:hidden;"></div>
            <div class="survey_under">
                <div class="select_top">
                    <div class="under_top">
                        <b> {{outQuotas.selected.name||"消费"}}对比：</b>
                        <ui-select ng-model="surveyfirst.selected"  theme="select2" reset-search-input="false"  class="fl"
                                   ng-change="semCompareTo(surveyfirst.selected)"
                                   style="width: 110px;">
                            <ui-select-match placeholder="请选择对比项">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="surveyfirst in choosedates">
                                <span ng-bind-html="surveyfirst.name"></span>
                            </ui-select-choices>
                        </ui-select>
                        <b> {{effectQuotas.selected.name||"访问次数"}}对比：</b>
                        <ui-select ng-model="surveysecend.selected"  theme="select2" reset-search-input="false"  class="fl" style="width: 110px;"
                                   ng-change="esCompareTo(surveysecend.selected)">
                            <ui-select-match placeholder="请选择对比项" class="placehold-color">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="surveysecend in choosedates">
                                <span ng-bind-html="surveysecend.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="under_concent">
                    <div class="row">
                        <div class="col-xs-6" style="padding-right:0;">
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions1" class="grid clearfix" ui-grid-pinning></div>
                            </div>
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions3" class="grid clearfix" ui-grid-pinning></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions2" class="grid clearfix" ui-grid-pinning></div>
                            </div>
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions4" class="grid clearfix" ui-grid-pinning></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>