<div class="middle_containers" ng-controller="SurveyCtrl">
    <div class="date_select">
        <b>推广概况</b>
    </div>
    <div class="my_concent">
        <div>
            <div class="select_top">
                <select ng-model="way.selectVal" ng-options="o.title for o in select.optionsData">
                    <option value="">全部推广方式</option>
                </select>
            </div>
            <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
        </div>
        <div class="survey_chart">
            <div class="select_top">
                <b>投放指标：</b>
                <select ng-init="outQuota = select.outQuota[0]" ng-model="outQuota" ng-change="setOutQuota(outQuota)"
                        ng-options="o.title for o in select.outQuota">
                </select>
                <b>效果指标:</b>
                <select ng-init="effectQuota = select.effectQuota[0]" ng-model="effectQuota"
                        ng-change="setEffectQuota(effectQuota)"
                        ng-options="o.title for o in select.effectQuota">
                </select>

                <div aria-label="First group" role="group" class="btn-group fr">
                    <button class="btn btn-default disabled" type="button">时间</button>
                    <button class="btn btn-default" ng-class="{'current':todayClass}" ng-click="today()" type="button">
                        今天
                    </button>
                    <button class="btn btn-default" ng-class="{'current':yesterdayClass}" ng-click="yesterday()"
                            type="button">
                        昨天
                    </button>
                    <button class="btn btn-default" ng-class="{'current':sevenDayClass}" ng-click="sevenDay()"
                            type="button">
                        最近7天
                    </button>
                    <button class="btn btn-default" ng-class="{'current':monthClass}" ng-click="month()" type="button">
                        最近30天
                    </button>
                </div>
            </div>
            <div id="index_charts" style="height:400px;"></div>
            <div class="survey_under">
                <div class="under_top">
                    消费对比: <select ng-model="vm.selectVal" ng-options="o.title for o in select.optionsData">
                    <option value="">请选择对比项</option>
                </select>
                    页面转化对比: <select ng-model="vm.selectVal" ng-options="o.title for o in select.optionsData">
                    <option value="">页面转化对比</option>
                </select>
                </div>
                <div class="under_concent">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="uconcentctrl" ng-controller="UconcentCtrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                            <div class="uconcentctrl" ng-controller="EconcentCtrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="uconcentctrl" ng-controller="UconcentCtrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                            <div class="uconcentctrl" ng-controller="EconcentCtrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>