<!--访客分析-设备环境-->
<div class="middle_containers" ng-controller="equipmentctr">
    <div class="date_select">
        <div role="group" class="btn-group fl">

            <ui-select ng-model="equipment.selected" theme="select2" reset-search-input="false" ng-disabled="disabled" class="fl btn-delta" ng-change="equipmentChange(equipment.selected)"
                       style="width: 160px;">
                <ui-select-match placeholder="网络供应商">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="equipment in equipments">
                    <span ng-bind-html="equipment.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <calendar></calendar>
        <dateother></dateother>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <ssh-date-show type="today" dimension="br"></ssh-date-show>
        <div class="index_chart">
            <div id="equipment_legend"></div>
            <div id="equipment" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                          data-toggle="tab" role="tab" id="home-tab"
                                                          href="#home">自定义指标</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in Mapwebbase" data-sshy-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Mapwebbase,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in Todayfloweds" data-sshy-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <!--<div class="chart_top">
                            <span>转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Todytransform"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>-->
                        <div class="chart_top chart_noborder">
                            <button class="btn btn-primary" type="button"  ng-click="targetSearch(true)">确定</button>
                            * 最多只能勾选6项
                        </div>

                    </div>
                    <div class="custom_secendtitle">
                        <!--<div class="custom_select">-->
                            <!--转化目标-->
                            <!--<div role="group" class="btn-group">-->
                                <!--<ui-select ng-model="extendway.selected" theme="select2" reset-search-input="false" class="fl"-->
                                           <!--style="width: 120px;">-->
                                    <!--<ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="extendway in extendways">-->
                                        <!--<span ng-bind-html="extendway.name"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="custom_table">
                            <div ui-grid="gridOptions" class="grid" style="height:400px;" ui-grid-pagination  ui-grid-exporter ui-grid-expandable></div>
                            <gridpage></gridpage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
