<!--访客分析-设备环境-->
<div class="middle_containers" ng-controller="equipmentctr">
    <div class="date_select">
        <div role="group" class="btn-group fl">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    type="button" id="btnGroupDrop7">
                客户端属性：浏览器
                <span class="caret"></span>
            </button>
            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">导出</a></li>
            </ul>
        </div>
        <calendar></calendar>
        <dateother></dateother>

        <div class="fr">
            <button class="btn btn-default btn-Refresh" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
            </button>
            <div role="group" class="btn-group">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                        type="button" id="btnGroupDrop3">
                    导出
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                    <li><a href="#">保存</a></li>
                    <li><a href="#">导出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show dateshow2">
            <ul>
                <li class="date_four"><h4>IP数 </h4><span>34</span></li>
                <li class="date_four"><h4>平均访问时长</h4><span>100%</span></li>
                <li class="date_first"><h4>平均访问页数</h4><span>2,574</span></li>
                <li class="date_secend"><h4>转化次数</h4><span>333</span></li>
                <li class="date_secend"><h4>转化率 </h4><span>88.24%</span></li>
            </ul>
        </div>
        <div class="index_chart">
            <div id="equipment_legend"></div>
            <div id="equipment" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                          data-toggle="tab" role="tab" id="home-tab"
                                                          href="#home">自定义指标</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in Mapwebbase"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Mapwebbase,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in Todayfloweds"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Todytransform"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top chart_noborder">
                            <button class="btn btn-primary" type="button">确定</button>
                            * 最多只能勾选6项
                        </div>

                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <ui-select ng-model="extendway.selected" theme="selectize" class="fl"
                                           style="width: 120px;">
                                    <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="extendway in extendways">
                                        <span ng-bind-html="extendway.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-selection ui-grid-exporter></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
