<div class="middle_containers">
    <div class="date_select">
        <div role="group" class="btn-group fl">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                    type="button" id="btnGroupDrop7">
                客户端属性：浏览器
                <span class="caret"></span>
            </button>
            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">导出</a></li>
            </ul>
        </div>
        <calendar></calendar>
        <dateother></dateother>

        <div class="fr">
            <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                class="glyphicon glyphicon-refresh"></span>
            </button>
            <div role="group" class="btn-group">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                        type="button" id="btnGroupDrop3">
                    导出
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                    <li><a href="#">保存</a></li>
                    <li><a href="#">导出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show dateshow2">
            <ul>
                <li class="date_four"><h4>IP数 </h4><span>34</span></li>
                <li class="date_four"><h4>平均访问时长</h4><span>100%</span></li>
                <li class="date_first"><h4>平均访问页数</h4><span>2,574</span></li>
                <li class="date_secend"><h4>转化次数</h4><span>333</span></li>
                <li class="date_secend"><h4>转化率 </h4><span>88.24%</span></li>
            </ul>
        </div>
        <div class="index_chart">
            <div class="chart_top">
                <ul>
                    <li><label>指标：</label></li>
                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>浏览量(PV)</label></li>
                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>访问次数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>新访客比率</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>跳出率</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>平均访问时长</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>平均访问页数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>转化次数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>转化率</label></li>
                    <li class="disabled">* 最多只能勾选1项</li>
                </ul>
            </div>
            <div id="Equipment" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                          data-toggle="tab" role="tab" id="home-tab"
                                                          href="#home">自定义指标</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in Mapwebbase" ng-class='{current:$index==Mapwebbaseds}'
                                    ng-click='Mapwebbased($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in Todayfloweds" ng-class='{current:$index==todyflowser}'
                                    ng-click='todyflowed($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Todytransform" ng-class='{current:$index==todytransforms}'
                                    ng-click='todytransform($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <button class="btn btn-primary" type="button">确定</button>
                            * 最多只能勾选6项
                        </div>

                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <select ng-options="o.title for o in select.optionsData" ng-model="select.selectVal"
                                        class="ng-pristine ng-valid ng-touched">
                                    <option value="" class="">全部页面目标</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <table id="mytable" class="table table-hover">
                            </table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
