<!DOCTYPE html>
<html>
<% include ../commons/header.html %>
<body>
<div class="container-fluid">
    <% include ../commons/nav.html %>
    <div class="containers">
        <% include ../commons/left.html %>
        <div class="middle ">
            <div class="middle_containers">
                <div class="date_select">
                    <div role="group" class="btn-group fl">
                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                type="button" id="btnGroupDrop7">
                            客户端属性：浏览器
                            <span class="caret"></span>
                        </button>
                        <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                            <li><a href="#"></a></li>
                            <li><a href="#">导出</a></li>
                        </ul>
                    </div>
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default disabled" type="button">时间</button>
                        <button class="btn btn-default current" type="button">今天</button>
                        <button class="btn btn-default" type="button"> 昨天</button>
                        <button class="btn btn-default" type="button">最近7天</button>
                        <button class="btn btn-default" type="button">最近30天</button>
                        <button class="btn btn-default" type="button">自定义<span aria-hidden="true"
                                                                               class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default" type="button"><input type="checkbox" checked="checked"/>
                            与其他时间段对比
                        </button>
                    </div>
                    <div class="fr">
                        <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop3">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                    <div class="novisitor">
                        <div class="newvisitor fl">
                          <div class="nesvisitor_top">
                              <p>新访客</p>
                              <div class="nesvisitor_img">
                                  <div>
                                      <span><img src="../img/new_people.png"></span>
                                      <span>100</span>
                                  </div>
                              </div>
                              <div class="nesvisitor_text">
                                  <ul>
                                      <li><span>浏览量:</span><a>21</a></li>
                                      <li><span>访客数:</span><a>22</a></li>
                                      <li><span>跳出率:</span><a>22%</a></li>
                                      <li><span>平均访问时长:</span><a>00:00：12</a></li>
                                      <li><span>平均访问页数:</span><a>12</a></li>
                                  </ul>

                              </div>
                              <div class="newvisitor_table">
                                  <h4>访问来源网站TOP5</h4>
                                  <table class="table table-hover">
                                      <thead>
                                      <tr>
                                          <th>排名</th>
                                          <th>来源网站</th>
                                          <th>浏览量(PV)</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td>1</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>

                                      </tr>
                                      <tr>
                                          <td>2</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      <tr>
                                          <td>3</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      <tr>
                                          <td>4</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>

                                      </tr>
                                      <tr>
                                          <td>5</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      </tbody>
                                  </table>

                              </div>
                              <div class="newvisitor_table">
                                  <h4>访问入口页TOP5</h4>
                                  <table class="table table-hover">
                                      <thead>
                                      <tr>
                                          <th>排名</th>
                                          <th>来源网站</th>
                                          <th>浏览量(PV)</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td>1</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>

                                      </tr>
                                      <tr>
                                          <td>2</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      <tr>
                                          <td>3</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      <tr>
                                          <td>4</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>

                                      </tr>
                                      <tr>
                                          <td>5</td>
                                          <td>www.baidu.com</td>
                                          <td>1,141</td>
                                      </tr>
                                      </tbody>
                                  </table>

                              </div>
                          </div>
                        </div>
                        <div class="oldvisitior fl">
                            <p>老访客</p>
                            <div class="nesvisitor_img">
                                <div>
                                    <span><img src="../img/old_people.png"></span>
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="nesvisitor_text">
                                <ul>
                                    <li><span>浏览量:</span><a>21</a></li>
                                    <li><span>访客数:</span><a>22</a></li>
                                    <li><span>跳出率:</span><a>22%</a></li>
                                    <li><span>平均访问时长:</span><a>00:00：12</a></li>
                                    <li><span>平均访问页数:</span><a>12</a></li>
                                </ul>

                            </div>
                            <div class="newvisitor_table">
                                <h4>访问来源网站TOP5</h4>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>来源网站</th>
                                        <th>浏览量(PV)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="newvisitor_table">
                                <h4>访问入口页TOP5</h4>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>排名</th>
                                        <th>来源网站</th>
                                        <th>浏览量(PV)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>www.baidu.com</td>
                                        <td>1,141</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">自定义指标</a></li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>网站基础指标 :</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>浏览量(PV)</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>访问次数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>新访客比率</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>流量质量指标:</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>跳出率</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>平均访问时长</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>平均访问页数</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>转化指标:</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>转化次数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>转化率</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <button class="btn btn-primary" type="button">确定</button>
                                        * 最多只能勾选两项
                                    </div>

                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        转化目标
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop">
                                                全部页面目标
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">全部页面目标</a></li>
                                                <li><a href="#">公告</a></li>
                                                <li><a href="#">全部事件目标</a></li>
                                                <li><a href="#">完整下载</a></li>
                                                <li><a href="#">在线下载</a></li>
                                                <li><a href="#">时长目标</a></li>
                                                <li><a href="#">访问页数目标</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                       <table id="mytable"  class="table table-hover" >
                                       </table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/less.js"></script>
<script src="../js/jquery.jqGrid.src.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="../js/chart/Equipment_charts.js"></script>
<script type="text/javascript" src="../js/table/custom_table.js"></script>
<script type="text/javascript" src="../js/table/Screening_table.js"></script>
</body>
</html>