         <div class="middle_containers">
                <div class="date_select">
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default disabled" type="button">时间</button>
                        <button class="btn btn-default " type="button">最近30天</button>
                        <button class="btn btn-default" type="button">最近2个月 </button>
                        <button class="btn btn-default" type="button">最近3个月</button>
                        <button class="btn btn-default" type="button">最近6个月 </button>
                        <button class="btn btn-default" type="button">选择月份<span aria-hidden="true"
                                                                               class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                    <div class="fr">
                        <button class="btn btn-default btn-Refresh" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop8">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                <div class="row-fluid">
                    <div class="span1">
                        <div id="feature" style="height:300px;"></div>
                    </div>
                    <div class="span2">
                        <div id="features" style="height:300px;"></div>
                    </div>
                    <div class="span3">
                        <div id="features_map" style="height:300px;"></div>
                    </div>

                </div>
                    <div class="index_chart">

                        <div id="features_work" style="height:400px; margin-top:20px;"></div>
                    </div>
                    </div>
            </div>
