 <div class="middle_containers" ng-controller="transformAnalysisctr">
    <div class="date_select"  set-class-when-at-top="fix-to-top">
        <div aria-label="First group" role="group" class="btn-group fl">
            <a class="btn btn-default current" data-ng-href="#transform/transformAnalysis" type="button">事件转化</a>
            <a class="btn btn-default" data-ng-href="#transform/pageTransform" type="button">页面转化</a>
        </div>
        <div>
            <calendar></calendar>
            <dateother></dateother>
            <refresh></refresh>
            <div aria-label="First group" role="group" class="btn-group fr">
                <a class="btn btn-default current" style="line-height: 24px"
                   data-ng-href="#/conf/webcountsite/eventchange_add" type="button">新增事件转化目标</a>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <ssh-date-show-page type="today"></ssh-date-show-page>
        <div class="index_chart">
            <div id="indicators_charts_legend"></div>
            <div id="indicators_charts" class="gesture" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope" ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                <a class="ng-binding" data-ng-click="advancedQuery()">高级筛选
                    <span class="impliedCondition">
                            <span ng-show="sourceSearch || terminalSearch || areaSearch">（</span>
                            <span ng-show="sourceSearch" class="advanceSearch">
                                {{sourceSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeSourceSearch(this);" ng-show="sourceSearch"></i>
                            </span>
                            <span ng-show="terminalSearch" class="advanceSearch">
                                {{terminalSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeTerminalSearch(this);" ng-show="terminalSearch"></i>
                            </span>
                            <span ng-show="areaSearch" class="advanceSearch">
                                {{areaSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeAreaSearch(this);" ng-show="areaSearch"></i>
                            </span>
                            <span ng-show="sourceSearch || terminalSearch || areaSearch">）</span>
                        </span>
                </a>
                </li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <p class="chart_top_title">

                    <div class="chart_top chart_default">
                        <ul>
                            <li><a href="javascript:void(0)" data-ssh-default-quota="search_campaign">系统默认指标</a>
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>基础指标 :</span>
                        <ul>
                            <li ng-repeat="item in bases" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,bases,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>转化指标 :</span>
                        <ul>
                            <li ng-repeat="item in transform" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,transform,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>事件参数:</span>
                        <ul>
                            <li ng-repeat="item in eventParameter" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,eventParameter,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top chart_noborder">
                        <button class="btn btn-primary" type="button" ng-click="targetSearchSpreadTransform(true)">确定
                        </button>
                        * 可同时选择6项
                    </div>

                </div>
                <div class="custom_title" ng-show="tab === 2">
                    <div class="chart_top2">
                        <ul>
                            <li><span>来源过滤 :</span></li>
                            <li>
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="souce.selected" theme="select2" reset-search-input="false"
                                               class="fl"
                                               style="width: 90px;" ng-change="searchEngine(souce.selected.value)">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="souce in souces">
                                            <span ng-bind-html="souce.name"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="searchEasyEngine(2,'百度')">百度</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="searchEasyEngine(2,'Googole')">Google</a></li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>访客过滤 :</span></li>
                            <li><label ng-click="setVisitors(0)"><input type="radio" checked="checked" class="styled"
                                                                        name="radio0" value="全部"/>全部</label></li>
                            <li><label ng-click="setVisitors(1)"><input type="radio" name="radio0" class="styled"
                                                                        value="新访客"/>新访客</label></li>
                            <li><label ng-click="setVisitors(2)"><input type="radio" name="radio0" class="styled"
                                                                        value="老访客"/>老访客</label></li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>地域过滤:</span></li>
                            <li>
                                <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                    <div role="group" class="btn-group">
                                        <ui-select ng-model="city.selected" theme="select2" reset-search-input="false"
                                                   class="fl btn-pv" data-ng-change="setSearchEngineAreaFilter(city.selected.name)"
                                                   style="width: 120px;">
                                            <ui-select-match placeholder="全部">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="city in citys">
                                                <span ng-bind-html="city.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('北京')">北京</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('上海')">上海</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('广州')">广州</a></li>
                        </ul>
                    </div>
                    <!--<div class="chart_top chart_noborder">-->
                        <!--<button class="btn btn-primary" type="button" ng-click="targetSearchSpreadTransform(false)">确定-->
                        <!--</button>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="custom_secendtitle">
                <div class="custom_select">
                    <div class="input-group fl">
                        <input type="text" placeholder="输入事件名称" data-ng-model="searchGjcText" class="form-control fl"
                               onfocus="this.setAttribute('placeholder','')"
                               onblur="this.setAttribute('placeholder','输入事件名称')">
                               <span class="input-group-btn fl">
                                     <button type="button" class="btn btn-default"  data-ng-click="filtrateEventName()"
                                             ><span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                                     </button>
                               </span>
                    </div>
                </div>
                <div class="custom_table" ng-class="{hidePageContainer:gridApi2.grid.rows.length<=20}">
                    <div ui-grid="gridOptions" class="grid clearfix secondary_table" style="min-height:30px;" ui-grid-auto-resize ui-grid-pagination
                         ui-grid-exporter></div>
                    <gridpage></gridpage>
                </div>
            </div>
        </div>
    </div>
</div>