<div class="middle_containers" >
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>权限账户管理</p>
        </div>
        <!--网站上部列表部分-->

        <div class="web_list_up">
            <ul>
                <li>当前账户: <p>best-renrenche1234</p></li>
                <li>权限：<p>管理员</p></li>
                <li>电子邮箱：<p>lilepei@perfect-cn.cn<p></p></li>
            </ul>
        </div>
        <div class="web_list_table">
            <img src="../images/table3.png" alt=""/>
        </div>
        <!--网站底部列表-->
        <div class="web_list_down">
            <button class="btn btn-default">+&nbsp;新增网站报告权限账户</button>
        </div>
    </div>
</div>
