<div class="middle_containers" ng-controller="rootCtrl">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p><span ng-bind-html="userTypeName"></span> -权限账户管理</p>
        </div>
        <!--网站上部列表部分-->

        <div class="web_list_up">
            <ul>
                <li>当前账户: <p>best-renrenche1234</p></li>
                <li>权限：<p>管理员</p></li>
                <li>电子邮箱：<p>lilepei@perfect-cn.cn<p></p></li>
            </ul>
        </div>
        <div class="web_list_table">
            <div class="table_content" ng-controller="TabsCtrl">
                <div class="custom_table" ng-class="{hidePageContainer:gridApiAdmin.grid.rows.length<=20}">
                    <div ui-grid="gridOptions" class="grid grid_table"  ui-grid-pagination ui-grid-selection
                         ui-grid-exporter></div>
                </div>
            </div>
        </div>
        <!--网站底部列表-->
        <div class="web_list_down">
            <a class="btn btn-default">+&nbsp;新增网站报告权限账户</a>
        </div>
    </div>
</div>
