//adtrack_add
.adtrack_add_tiltle {
  font-size: 16px;
}

.adtrack_add {
  padding: 60px 0 0 14px;
}

.adtrack_add input {
  display: inline-block;
  margin-top: 3px;
  width: 440px;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 3px 5px;
}

.adtrack_add p {
  color: #aaabab;
  display: inline;
}

.adtrack_add ul li {
  margin: 7px 0;
  .chlidlist_add_input {
    width: 12px;
    height: 12px;
    margin-left: 15px;
  }

}

.adtrack_add_input {
  width: 480px;
  margin-left: 5px;
  color: red;
  ul {
    input {
      width: 146px;
      margin: 0;
    }
  }
  ul li {
    float: left;
    color: rgba(161, 161, 161, 0.94);
    margin-right: 16px;
    input {
      padding: 0;
      margin: 0;
      height: 12px;
      width: 12px;

    }
  }
  input {
    margin-left: 3px;
    padding: 3px 5px;
  }
}

.adtrack_add_tz {
  font-size: 14px;
}

.adtrack_add_button {
  margin-top: 10px;
}

//childlist_add
.chlidlist_add {
  width: 900px;
  .count_content_right {
    margin: 0;
  }
  input {
    margin-right: 5px;
  }
}

.chlidlist_add ul {
  margin-top: 15px;

}

.chlidlist_add ul li {
  margin-bottom: 20px;
}

.chlidlist_add button {
  padding: 10px;
  margin-right: 5px;
  border: none;
}

//childlist_update
.chlidlist_update {
  width: 900px;
  .count_content_right {
    margin: 0;
  }
  input {
    margin-right: 5px;
  }
}

.chlidlist_update ul {
  margin-top: 15px;

}

.chlidlist_update ul li {
  margin-bottom: 20px;
}

.chlidlist_update button {
  padding: 10px;
  margin-right: 5px;
  border: none;
}

/*网站列表*/
.web_list_nav {
  background-color: #f0f0f0;
  color: #525252;
  position: fixed;
  width: 100%;
  z-index: 106;
  margin-top: 2px;
  height: 40px;
  p {
    display: inline;
    margin-left: 20px;
    line-height: 45px;

  }
}

.web_list_nav_right {
  height: 35px;
  float: right;
  margin: 5px 160px 0 0;
  ul li {
    display: block;
    float: left;
    margin: 8px 15px 0 0;
    .btn{
      padding-top: 7px;
    }
  }
  b {
    font-weight: normal;
    margin-left: 5px;
  }
  .checkbox, .radio {
    margin-top: -4px;
  }
}

#web_list_nav_input {
  width: 180px;
  display: inline-block;
  height: 26px;
  border-radius: 2px;
  line-height: 17px;
  margin: -8px -10px 0 10px;
}

.nav_btn {
  margin-top: -6px;
  height: 26px;
  border-radius: 4px;
  line-height: 10px;
  background-color: #2FABE7;
}

.nav_btn:hover,
.nav_btn:focus,
.nav_btn.focus,
.nav_btn:active,
.nav_btn .active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #01aeef;
  border-color: #01aeef;
}

.web_list_up {
  padding-top: 43px;
  .ui-grid-top-panel {
    font-weight: normal;
    color: #525252;
  }
  [class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
    margin-left: 10px;
  }
}

.web_list_up ul {
  line-height: 100px;
  margin-left: 45px;
  height: 100px;
  font-weight: bold;

}

.web_list_up ul li {
  float: left;

  margin-left: 20px;
}

.web_list_up p {
  color: #40befb;
}

.web_list_up span {

}

.web_list_mid {
  background-color: #fdfdfd;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 150px;
}

.mid_left_code {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  list-style: decimal;
  min-width: 400px;
  padding: 5px;
  background-color: white;
  word-wrap: break-word;
}

.mid_right button {
  line-height: 10px;
  width: 95px;
  height: 28px;
}

.mid_right ul {
  line-height: 20px;
  margin-left: 25px;
}

.mid_right ul li {
  list-style-type: disc;
  color: #a4a4a4;
}

.web_list_down a {
  display: block;
  background-color: #f0f0f0;
  color: #838383;
  font-weight: bold;
  width: 100%;
  height: 25px;
  line-height: 10px;
  border-radius: 0;
  border: 1px solid #f0f0f0;
}

.timechange_button {
  background-color: #40befb;
  height: 30px;
  line-height: 15px;
  margin-bottom: 10px;
}
.clear_button {
  background-color: #ffffff;
  height: 30px;
  line-height: 15px;
  margin-bottom: 10px;
}

.table_admin ul {
  line-height: 0px;
  margin-left: 10px;
  height: 170px;
  font-weight: normal;
  margin-top: -5px;
  text-align: left;
  list-style: none;

  li {
    margin: 0;
    width: 100%;

  }
}

.table_box {
  .custom_table {
    .table_admin {

    }
    margin-top: -2px;
    ul li {
      height: 100px;
      width: 100px;
      float: none;
    }
  }
}

.ui-grid-row:hover {
  .ui-grid-cell {
    background-color: #bcedfe;
  }
}

.table_admin {
  .ui-grid-cell-contents {
    cursor: pointer;
  }
  height: 32px;
  line-height: 32px;
  color: #2fabe7;


  cursor: pointer;

}

.table_admin a, a:active {
  color: #2fabe7;
}

.table_admin_color {
  color: #333;
}

.table_admin a {
  color: #2fabe7;
}


.table_admin:hover {
  color: #fd641f;
}

.table_admin a:hover {
  color: #fd641f;

}

.table_content {
  .custom_table {
    overflow: visible;
  }
}

.countrules_button {
  margin-left: 40px;
}

#Selectall {
  width: 15px;
  height: 15px;
  float: left;
  margin: 14px 0 0 15px;

}

.page_ht {
  height: 50px;
  line-height: 50px;
  width: 100%;
  vertical-align: middle;
  background-color: #eee;
  text-align: center;
  .pageshow{
    float: right;
    margin-right: 100px;
  }
  .btn_ht {
    line-height: 10px;
  }
  p {
    float: left;
    line-height: 43px;
  }

  input {
    width: 30px;
    height: 26px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 0 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  a {
    cursor: pointer;
  }

  a, span {
    margin: 0 5px;
  }

  button {
    height: 24px;
    margin-top: 0px;
    background: #01adef;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    line-height: 45px;
  }

}

//弹出框-ngdialog
.ngDialog_bg {
  background-color: #2FABE7;
  width: 100px;
  height: 20px;
}

.ngdialog-tilte {
  color: white;
  background-color: #40befb;
  height: 40px;
  width: 100%;
  padding: 10px 0 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.ng-button-div {
  background-color: #f8f8f8;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-top: -10px;
  .ng-button {
    background: #2FABE7;
    color: #fff;
  }
}

.admin-ng-content {
  padding: 30px;
  overflow: hidden;
}
    .ngdialog.admin_ngdialog .ngdialog-content {
      border-radius: 10px;
      padding: 0px;
    }

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  color: white;
}
.copycode_content{
  padding: 10px 20px 20px 20px;
}
.admin-ngeventchange{
  margin-top: 30px;
  padding: 0;
}
.eventchange-button{
  background-color: white;
}
//分页 每页显示
.ui-grid-pager-panel{
  background: none;
  border-top: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: -38px;
  width: 100px;
  float: right;
  position: relative;
}
.ui-grid-pager-count-container{
  display: none;
}
.ui-grid-pager-control{
  display: none;
}
.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
  display: none;
}
.ui-grid-pager-container{
  float: right;
  margin-right: 30px;
}
//主页table
.main_table{
  .ui-grid-pager-panel{
    display: none;
  }
}
.page{
  .pageshow{
    float: right;
    margin-right: 100px;
  }
}