<div class="middle_containers" ng-controller="trafficmapctr">
    <div class="date_select"  set-class-when-at-top="fix-to-top">
        <div role="group" class="btn-group fl">
            <button class="btn btn-default" type="button" ng-click="today()" ng-hide="visible"
                    ng-class="{'current':todayClass,'disabled':todaySelect}">今天
            </button>
            <button class="btn btn-default" type="button" ng-click="yesterday()" ng-class="{'current':yesterdayClass}">
                昨天
            </button>
            <button class="btn btn-default" type="button" ng-click="sevenDay()" ng-class="{'current':sevenDayClass}">
                最近7天
            </button>
            <button class="btn btn-default" type="button" ng-click="month()" ng-class="{'current':monthClass}">最近30天
            </button>
            <button id="reportrange" class="btn btn-default pull-right date-picker my_picker" ng-click='timeclick()'
                    ng-hide="datechoice" ng-class="{'current':timeClass}" max="max" ng-model="date">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i><span></span></button>
        </div>
        <refreshexchange></refreshexchange>
    </div>
    <div class="my_concent">
        <div class="linkstree exchangetree">
            <div class="linkstree_middle" id="linkstree_top">
                <div class="exchangetree_middle_top">
                    焦点频道
                </div>
                <div class="exchangetree_middle">
                    <div class="linkstree_left_line fl"></div>
                    <div class="linkstree_middle_left fl"></div>
                    <div class="linkstree_middle_center fl">
                        <div class="linkstree_center_top">
                            <a href="javascript:void(0)">{{offsite_links.name}}</a><span class="caret fr"
                                                                                                 ng-click="isCollapsed = !isCollapsed"></span>

                            <div class="link_tree_mode" collapse="isCollapsed">
                                <div class="link_tree_row"></div>
                                <div class="link_tree_value">
                                    <ul>
                                        <li ng-repeat="offsitelink in offsitelinks" ng-click="weblink(offsitelink)">
                                            {{offsitelink.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="linkstree_center_bottom">
                            <p><span>进入次数 :</span><b>{{targetPathData.pv}}</b></p>

                            <p><span>PV:</span><b>{{targetPathData.pv_proportion}}</b></p>

                            <p><span>UV: </span><b>{{targetPathData.uv_proportion}}</b></p>
                        </div>
                    </div>
                    <div class="linkstree_middle_right fl"></div>
                </div>
                <div class="exchangetree_middle_bottom">
                    展示焦点频道TOP5的来源和去向，点击图标 可将该频道作为焦点频道
                </div>
            </div>
            <div class="linkstree_right" id="linkstree_right">
                <div class="linkstree_right_left">
                </div>
                <div class="linkstree_right_right">
                    <p><b>离开网站</b></p>

                    <p><span>输出PV:</span><span>{{out_siteData.pv_proportion}}</span></p>

                    <p><span>输出UV:</span><span>{{out_siteData.uv_proportion}}</span></p>
                </div>
            </div>
            <div class="linkstree_left fl">
                <div class="linkstree_left_more fl">
                    <div class="linkstree_left_list" ng-repeat="link in links ">
                        <div class="linkstree_left_list_left fl">
                            <p>{{ link.name }}</p>

                            <p><span>进入次数：</span><span>{{ link.count}}</span></p>

                            <p><span>带来UV：</span><span>{{ link.ratio }}</span></p>
                        </div>
                        <div class="linkstree_left_list_left_right fl">
                        </div>
                        <div class="linkstree_left_list_left_line fl">
                        </div>
                    </div>
                </div>
                <div class="link_left_zhezhaofirst">
                </div>
                <div class="link_left_zhezhaosecend">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">链接设置</h3>
    </div>
    <div class="modal-body">
        <p>您还能添加19个监控页：</p>
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
