<div class="middle_containers" ng-controller="trend_month_ctrl">
    <div class="date_select">
        <calendar></calendar>
        <dateother></dateother>
        <dateweek></dateweek>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <ssh-e-s-date-show></ssh-e-s-date-show>
        <div class="index_chart">
            <div id="moth_charts_legend"></div>
            <div id="moth_charts" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope"  ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                    <a class="ng-binding">高级筛选
                        <span class="impliedCondition">
                            <span ng-show="sourceSearch || terminalSearch || areaSearch">（</span>
                            <span ng-show="sourceSearch" class="advanceSearch">
                                {{sourceSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeSourceSearch(this);" ng-show="sourceSearch"></i>
                            </span>
                            <span ng-show="terminalSearch" class="advanceSearch">
                                {{terminalSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeTerminalSearch(this);" ng-show="terminalSearch"></i>
                            </span>
                            <span ng-show="areaSearch" class="advanceSearch">
                                {{areaSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeAreaSearch(this);" ng-show="areaSearch"></i>
                            </span>
                            <span ng-show="sourceSearch || terminalSearch || areaSearch">）</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <div class="chart_top chart_default">
                        <ul>
                            <li><a href="javascript:void(0)" data-ssh-default-quota="trend_month">系统默认指标</a>
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>网站基础指标 :</span>
                        <ul>
                            <li ng-repeat="item in TodayWeb" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>流量质量指标:</span>
                        <ul>
                            <li ng-repeat="item in Todayfloweds" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <!--<div class="chart_top">
                        <span>转化指标:</span>
                        <ul>
                            <li ng-repeat="item in Todytransform"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>-->
                    <div class="chart_top chart_noborder">
                        <button class="btn btn-primary" type="button" ng-click="targetSearch(true)">确定</button>
                        * 最多只能勾选6项
                    </div>

                </div>
                <div class="custom_title" ng-show="tab === 2" >
                    <div class="chart_top2">
                        <ul>
                            <li><span>来源过滤 :</span></li>
                            <li>
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="souce.selected" theme="select2" reset-search-input="false"  class="fl"
                                               style="width: 90px;" ng-change="setSource(souce.selected.value)">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="souce in souces">
                                            <span ng-bind-html="souce.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select ng-model="browser.selected" theme="select2" reset-search-input="false" class="fl" data-ng-change="searchEngine(browser.selected.value)" ng-hide="browserselect"
                                               style="width: 90px; margin-left:10px;">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="browser in browsers">
                                            <span ng-bind-html="browser.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                        <li><a href="javascript:void(0)">百度</a></li>
                                        <li><a href="javascript:void(0)">Google</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="javascript:void(0)" ng-click="searchEngine('百度')">百度</a></li>
                            <li><a href="javascript:void(0)" ng-click="searchEngine('Google')">Google</a></li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>设备过滤:</span></li>
                            <li><label ng-click="setTerminal(0)"><input type="radio" checked="checked" name="radio1" class="styled"/>
                                全部</label></li>
                            <li><label ng-click="setTerminal(1)"><input type="radio" name="radio1" class="styled"/>计算机</label>
                            </li>
                            <li><label ng-click="setTerminal(2)"><input type="radio" name="radio1" class="styled"/>移动设备</label>
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                                <ul>
                                    <li><span>地域过滤:</span></li>
                                    <li>
                                        <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                            <div role="group" class="btn-group">
                                                <ui-select ng-model="city.selected" theme="select2" reset-search-input="false"  class="fl btn-pv"
                                                           data-ng-change="setAreaFilter(city.selected.name)"
                                                           style="width: 120px;">
                                                    <ui-select-match placeholder="全部">{{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="city in citys">
                                                        <span ng-bind-html="city.name"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('北京')">北京</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('上海')">上海</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('广州')">广州</a></li>
                        </ul>
                    </div><div class="chart_top2">
                    <ul>
                        <li><span>时段过滤: </span></li>
                        <li>
                            <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="time.selected" theme="select2" reset-search-input="false"  class="fl btn-pv"
                                               data-ng-change="setTimeFilter(time.selected.name)"
                                               style="width: 120px;">
                                        <ui-select-match placeholder="全部">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="time in times">
                                            <span ng-bind-html="time.name"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </li>

                        <li data-ng-if="time.selected.name==null || time.selected.name=='全部'">
                            00:00-23:59
                        </li> <li data-ng-if="time.selected.name=='工作时段'">
                            9:00-11:59 13:00-17:59
                        </li><li data-ng-if="time.selected.name=='非工作时段'">
                             0:00-08:59 12:00-12:59 18:00-23:59
                        </li>
                        <li data-ng-if="time.selected.name=='自定义时段'" data-ng-repeat="sitetime in sitetimes">
                            <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="sitetime.hour.selected" theme="select2" reset-search-input="false"  class="fl btn-pv"
                                               style="width: 80px;">
                                        <ui-select-match placeholder="00:00">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="hour in hours">
                                            <span ng-bind-html="hour.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>-
                            <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="sitetime.hour1.selected" theme="select2" reset-search-input="false"  class="fl btn-pv"
                                               style="width: 80px;">
                                        <ui-select-match placeholder="00:59">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="hour1 in hours1">
                                            <span ng-bind-html="hour1.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </li>
                        <li data-ng-if="time.selected.name=='自定义时段' && sitetimes.length<3 " data-ng-click="sitetimesadd()">
                            <a  href="javascript:void(0)" style="font-size: 20px; font-weight: bold ">+</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>

            <!--<div class="custom_secendtitle">-->
            <!--<div class="custom_select">-->
            <!--转化目标-->
            <!--<div role="group" class="btn-group">-->
            <!--<ui-select ng-model="extendway.selected" theme="select2" reset-search-input="false"  class="fl"-->
            <!--style="width: 120px;">-->
            <!--<ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>-->
            <!--<ui-select-choices repeat="extendway in extendways">-->
            <!--<span ng-bind-html="extendway.name"></span>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="custom_table">
                <div ui-grid="gridOptions" class="grid clearfix"  ui-grid-pagination
                     ui-grid-exporter ui-grid-auto-resize></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>
