<div class="middle_containers" ng-controller="Trend_realtime_ctrl">
    <div class="date_select">
        <div class="fr">
            <button class="btn btn-default btn-Refresh" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
            </button>
            <div role="group" class="btn-group">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                        type="button" id="btnGroupDrop3">
                    导出
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                    <li><a href="#">保存</a></li>
                    <li><a href="#">导出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="Visitor_concent">
            <div class="Visitor_number">
                <div class="Visitor_number_img">
                    <img src="../img/Visitor_img.png">
                </div>
                <div class="Visitor_text">
                    <h4>30分钟内</h4>
                    <h5>当前在线人数</h5>

                    <h1>{{visitorCount}}</h1>
                </div>
            </div>
            <div class="Visitor_chart">
                <div id="realtime_charts_legend" style="position:relative;"></div>
                <div id="realtime_charts" style="height:300px;"></div>
            </div>
        </div>
        <div class="table_content">
            <ul role="tablist" class="nav nav-tabs" id="myTab">

                <li role="presentation" class="active"><a aria-controls="profile" data-toggle="tab"
                                                          id="profile-tab" role="tab" href="#profile"
                                                          aria-expanded="false">高级筛选</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">

                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade active in" role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top2">
                            <ul>
                                <li><span>来源过滤 :</span></li>
                                <li>
                                    <div role="group" class="btn-group">
                                        <ui-select ng-model="souce.selected" theme="selectize" class="fl"
                                                   style="width: 90px;">
                                            <ui-select-match placeholder="全部">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="souce in souces">
                                                <span ng-bind-html="souce.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </li>
                                <li><a href="#">百度</a></li>
                                <li><a href="#">Google</a></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>设备过滤:</span></li>
                                <li><input type="radio" checked="checked" name="radio1"/>
                                    <label>全部</label></li>
                                <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="country.selected" theme="selectize"
                                                       class="fl btn-delta" style="width: 100px;">
                                                <ui-select-match placeholder="国家">{{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="country in countrys">
                                                    <span ng-bind-html="country.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="city.selected" theme="selectize" class="fl btn-pv"
                                                       style="width: 100px;">
                                                <ui-select-match placeholder="城市">{{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="city in citys">
                                                    <span ng-bind-html="city.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">北京</a></li>
                                <li><a href="#">上海</a></li>
                                <li><a href="#">广州</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select ">
                            <ul class="visitor_table_select">
                                <li><span>关键词/搜索词:</span>
                                    <input type="text" class="form-control" placeholder="请输入..."></li>
                                <li><span> 入口页面:</span>
                                    <input type="text" class="form-control" placeholder="请输入..."></li>
                                <li><span>IP:</span>
                                    <input type="text" class="form-control" placeholder="请输入..."></li>
                                <li>
                                    <button class="btn btn-info" type="button">查询</button>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="custom_table">
                        <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-selection ui-grid-exporter></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>