<div class="middle_containers">
    <div class="date_select">
        <div ng-controller="trend_today_ctrl" >
            <calendar></calendar>
             <datecontrast></datecontrast>
             <dateweek></dateweek>
        </div>
        <div class="fr">
            <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                class="glyphicon glyphicon-refresh"></span>
            </button>
            <div role="group" class="btn-group">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                        type="button" id="btnGroupDrop3">
                    导出
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                    <li><a href="#">保存</a></li>
                    <li><a href="#">导出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show">
            <ul>
                <li class="date_first"><h4>浏览量(PV) </h4><span>34</span></li>
                <li class="date_secend"><h4>访问次数</h4><span>34</span></li>
                <li class="date_third"><h4>访客数(UV)</h4><span>2,574</span></li>
                <li class="date_four"><h4>新访客比率 </h4><span>90</span></li>
                <li class="date_five"><h4>新访客比率 </h4><span>90</span></li>
                <li class="date_last"><h4>平均访问时长 </h4><span>00:02:34</span></li>
            </ul>

        </div>
        <div class="index_chart">
            <div id="Today_charts" style="height:400px;"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <tabset justified="true">
                <tab heading="自定义指标">
                    <div class="custom_title">
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in TodayWeb" ng-class='{current:$index==TodayWebbaseds}'
                                    ng-click='TodayWebbased($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in Todayfloweds" ng-class='{current:$index==todyflowser}'
                                    ng-click='todyflowed($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Todytransform" ng-class='{current:$index==todytransforms}'
                                    ng-click='todytransform($index)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <button class="btn btn-primary" type="button">确定</button>
                            * 最多只能勾选6项
                        </div>

                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <select ng-options="o.title for o in select.optionsData" ng-model="select.selectVal"
                                        class="ng-pristine ng-valid ng-touched">
                                    <option value="" class="">全部页面目标</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="高级筛选">
                    <div class="custom_title">
                        <div class="chart_top2">
                            <ul>
                                <li><span>来源过滤 :</span></li>
                                <li>
                                    <div role="group" class="btn-group">
                                        <select ng-options="o.title for o in all.optionsData" ng-model="all.selectVal"
                                                class="ng-pristine ng-valid ng-touched">
                                            <option value="" class="">全部</option>
                                        </select>
                                        <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                            <li><a href="#">百度</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">百度</a></li>
                                <li><a href="#">Google</a></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>设备过滤:</span></li>
                                <li><input type="radio" checked="checked" name="radio1"/>
                                    <label>全部</label></li>
                                <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in map.optionsData"
                                                    ng-model="map.selectVal"
                                                    class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">大洲</option>
                                            </select>
                                        </div>
                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in city.optionsData"
                                                    ng-model="city.selectVal"
                                                    class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">国家</option>
                                            </select>
                                        </div>

                                        <div role="group" class="btn-group">
                                            <select ng-options="o.title for o in city.optionsData"
                                                    ng-model="city.selectVal"
                                                    class="ng-pristine ng-valid ng-touched">
                                                <option value="" class="">城市</option>
                                            </select>
                                        </div>

                                    </div>
                                </li>
                                <li><a href="#">北京</a></li>
                                <li><a href="#">上海</a></li>
                                <li><a href="#">上海</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <select ng-options="o.title for o in select.optionsData" ng-model="select.selectVal"
                                        class="ng-pristine ng-valid ng-touched">
                                    <option value="" class="">全部页面目标</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom_table">
                            <div class="uconcentctrl">
                                <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>