<div class="middle_containers">
    <div class="date_select" id="dfghgfhgfhgfhfghgfhgfhgfh">
        <div aria-label="First group" role="group" class="btn-group fl">
            <button class="btn btn-default disabled" type="button">时间</button>
            <button class="btn btn-default current" type="button"> 昨天</button>
            <button class="btn btn-default" type="button">最近7天</button>
            <button class="btn btn-default" type="button">最近30天</button>
            <button class="btn btn-default" type="button">自定义<span aria-hidden="true"
                                                                   class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
        <div aria-label="First group" role="group" class="btn-group fl">
            <button class="btn btn-default" type="button"><input type="checkbox" checked="checked"/>
                与其他时间段对比
            </button>
            <button class="btn btn-default current" type="button"><input type="checkbox"/>前一日</button>
            <button class="btn btn-default" type="button"><input type="checkbox"/>上周同期</button>
        </div>
        <div aria-label="First group" role="group" class="btn-group fl">
            <button class="btn btn-default" type="button">按时</button>
            <button class="btn btn-default current" type="button">按日</button>
            <button class="btn btn-default" type="button">按周</button>
            <button class="btn btn-default" type="button">按月</button>
        </div>
        <div class="fr">
            <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                class="glyphicon glyphicon-refresh"></span>
            </button>
            <div role="group" class="btn-group">
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                        type="button" id="btnGroupDrop3">
                    导出
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                    <li><a href="#">保存</a></li>
                    <li><a href="#">导出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="date_show">
            <ul>
                <li class="date_first"><h4>浏览量(PV) </h4><span>34</span></li>
                <li class="date_secend"><h4>访问次数</h4><span>34</span></li>
                <li class="date_third"><h4>访客数(UV)</h4><span>2,574</span></li>
                <li class="date_four"><h4>新访客比率 </h4><span>90</span></li>
                <li class="date_five"><h4>新访客比率 </h4><span>90</span></li>
                <li class="date_last"><h4>平均访问时长 </h4><span>00:02:34</span></li>
            </ul>

        </div>
        <div class="index_chart">
            <div class="chart_top">
                <ul>
                    <li><label>展示曲线</label></li>
                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>浏览量(PV))</label>
                    </li>
                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>访问次数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>新访客比率</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>跳出率</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>平均访问时长</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>平均访问页数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>转化次数</label></li>
                    <li><input type="checkbox" name="radio1"/> <label>转化率</label></li>
                    <li class="disabled">* 最多只能勾选两项</li>
                </ul>
            </div>
            <div id="indicators_charts" style="height:400px;"></div>
        </div>
        <div class="table_content">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                    data-toggle="tab" role="tab" id="home-tab"
                                                    href="#home">自定义指标</a></li>
                <li role="presentation" class="active"><a aria-controls="profile" data-toggle="tab"
                                                          id="profile-tab" role="tab" href="#profile"
                                                          aria-expanded="false">高级筛选</a></li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" id="home" class="tab-pane fade " role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top">
                            <ul>
                                <li><span>网站基础指标 :</span></li>
                                <li><input type="checkbox" checked="checked" name="radio1"/>
                                    <label>浏览量(PV)</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>访问次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>新访客比率</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <ul>
                                <li><span>流量质量指标:</span></li>
                                <li><input type="checkbox" checked="checked" name="radio1"/>
                                    <label>跳出率</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>平均访问时长</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>平均访问页数</label></li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <ul>
                                <li><span>转化指标:</span></li>
                                <li><input type="checkbox" checked="checked" name="radio1"/>
                                    <label>转化次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>转化率</label></li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <button class="btn btn-primary" type="button">确定</button>
                            * 最多只能勾选两项
                        </div>

                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <button aria-expanded="false" data-toggle="dropdown"
                                        class="btn btn-default dropdown-toggle" type="button"
                                        id="btnGroupDrop">
                                    全部页面目标
                                    <span class="caret"></span>
                                </button>
                                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                    <li><a href="#">全部页面目标</a></li>
                                    <li><a href="#">公告</a></li>
                                    <li><a href="#">全部事件目标</a></li>
                                    <li><a href="#">完整下载</a></li>
                                    <li><a href="#">在线下载</a></li>
                                    <li><a href="#">时长目标</a></li>
                                    <li><a href="#">访问页数目标</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="custom_table">
                            <table id="mytable" class="table table-hover">
                            </table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade active in" role="tabpanel">
                    <div class="custom_title">
                        <div class="chart_top2">
                            <ul>
                                <li><span>来源过滤 :</span></li>
                                <li>
                                    <div role="group" class="btn-group">
                                        <button aria-expanded="false" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle" type="button"
                                                id="btnGroupDrop4">
                                            全部
                                            <span class="caret"></span>
                                        </button>
                                        <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                            <li><a href="#">百度</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">百度</a></li>
                                <li><a href="#">Google</a></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>设备过滤:</span></li>
                                <li><input type="radio" checked="checked" name="radio1"/>
                                    <label>全部</label></li>
                                <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop1">
                                                大洲
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">欧洲</a></li>
                                                <li><a href="#">南美洲</a></li>
                                            </ul>
                                        </div>
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop5">
                                                国家
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">印度</a></li>
                                                <li><a href="#">俄罗斯</a></li>
                                            </ul>
                                        </div>

                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop6">
                                                城市
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#"> 成都</a></li>
                                                <li><a href="#">成都 </a></li>
                                                <li><a href="#">成都</a></li>
                                                <li><a href="#">成都</a></li>
                                                <li><a href="#">成都</a></li>
                                                <li><a href="#">成都</a></li>
                                                <li><a href="#">转化次数</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                </li>
                                <li><a href="#">北京</a></li>
                                <li><a href="#">上海</a></li>
                                <li><a href="#">上海</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="custom_secendtitle">
                        <div class="custom_select">
                            转化目标
                            <div role="group" class="btn-group">
                                <button aria-expanded="false" data-toggle="dropdown"
                                        class="btn btn-default dropdown-toggle" type="button"
                                        id="btnGroupDrop2">
                                    全部页面目标
                                    <span class="caret"></span>
                                </button>
                                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                    <li><a href="#">全部页面目标</a></li>
                                    <li><a href="#">公告</a></li>
                                    <li><a href="#">全部事件目标</a></li>
                                    <li><a href="#">完整下载</a></li>
                                    <li><a href="#">在线下载</a></li>
                                    <li><a href="#">时长目标</a></li>
                                    <li><a href="#">访问页数目标</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="custom_table">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>