<div class='trendbox'>
    <div class='trend_top'>
        <div class='trend_left'>
            <div class='left_top'>
                <div class='trend_img'>
                    <img src='../images/windows.png'>
                </div>
                <div class='trend_text'>
                    <ul>
                        <li>操作系统：<span>Win 7</span></li>
                        <li>网络服务商：<span>电信</span></li>
                        <li>屏幕分辨率：<span>1920x1080</span></li>
                        <li>屏幕颜色:<span>32-bit</span></li>
                    </ul>
                </div>
            </div>
            <div class='left_under'>
                <div class='trend_img'>
                    <img src='../images/google.png'>
                </div>
                <div class='trend_text'>
                    <ul>
                        <li>浏览器：<span>Google Chrome</span></li>
                        <li>Flash版本：<span>11.6</span></li>
                        <li>是否支持Cookie：<span>支持</span></li>
                        <li>是否支持JAVA:<span>支持</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='trend_right'>
            <ul>
                <li>访问类型：<span>新访客</span></li>
                <li>当天访问频次：<span>1</span></li>
                <li>上一次访问时间：<span>首次访问</span></li>
                <li>本次来路:<span><a href='#'>百度(搜索词:百度广告联盟)</a></span></li>
                <li>入口页面：<span><a href='#'>http://editor.baidu.com</a></span></li>
                <li>最后停留在:<span><a href='#'>http://editor.baidu.com/union.html</a></span></li>
            </ul>
        </div>
    </div>
    <div class='trendunder'>
        <b>访问路径：</b>
        <ul>
            <li>打开时间</li>
            <li><span>13:02:34</span></li>
            <li><span>13:02:34</span></li>
            <li><span>13:02:34</span></li>
        </ul>
        <ul>
            <li>停留时长</li>
            <li><span>10'</span></li>
            <li><span>10'</span></li>
            <li><span>10'</span></li>
        </ul>
        <ul>
            <li>页面地址</li>
            <li><span><a href='#'>http://editor.baidu.com</a></span></li>
            <li><span><a href='#'>http://editor.baidu.com</a></span></li>
            <li><span><a href='#'>http://editor.baidu.com</a></span></li>
        </ul>

    </div>
</div>
