<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bitbug_favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>百思慧眼</title>
    <link rel="stylesheet/less" type="text/css" href="../css/styles.less">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="#"><img src="../img/logo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse top_menu" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-home"></span>网站概览</a></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        网站： www.best-ad.cn<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">www.perfect.com</a></li>
                        <li><a href="#">www.best-ad.cn</a></li>
                        <li><a href="#">www.perfect-cn.cn</a></li>
                    </ul>
                </li>
                <li><a href="#"> <span aria-hidden="true" class="glyphicon glyphicon-user"></span>管理员</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span>退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="containers">
        <div class="menu">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group ">
                <div class="panel panel-default">
                    <div id="headingOne" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseOne" aria-expanded="false" href="../index.html"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-th-large"></span>网站概览
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="panel panel-default current">
                    <div id="headingTwo" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseTwo" aria-expanded="true" href="#collapseTwo"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-stats"></span>趋向分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse " id="collapseTwo"
                         aria-expanded="true">
                        <div class="panel-body">
                            <ul>
                                <li class="current"><a href="">实时访客</a></li>
                                <li><a href="tongji.html">今日统计</a></li>
                                <li><a href="Yesterday.html">昨日统计</a></li>
                                <li><a href="Month.html">最近30天</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingThree" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-globe"></span>来源分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse" id="collapseThree"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../source/Source.html">全部来源</a></li>
                                <li><a href="../source/Searchengine.html">搜索引擎</a></li>
                                <li><a href="../source/Searchterm.html">搜索词</a></li>
                                <li><a href="../source/Externallinks.html">外部链接</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingFive" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-blackboard"></span>页面分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse" id="collapseFive"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../page/Visitedpages.html">受访页面</a></li>
                                <li ><a href="../page/Entrancepage.html">入口页面</a></li>
                                <li ><a href="../page/pagetitle.html">页面标题</a></li>
                                <li><a href="#">离站链接</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingFoure" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFoure" aria-expanded="false" href="#collapseFoure"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-signal"></span>访客分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFoure" role="tabpanel" class="panel-collapse" id="collapseFoure"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../visitor/VisitorMap.html">访客地图</a></li>
                                <li><a href="../visitor/Equipment.html">设备环境</a></li>
                                <li><a href="../visitor/Novisitors.html">新老访客</a></li>
                                <li><a href="../visitor/Visitorfeature.html">访客特征</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle ">
            <div class="middle_containers">
                <div class="date_select">
                    <div class="fr">
                        <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop3">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                    <div class="Visitor_concent">
                        <div class="Visitor_number">
                            <div class="Visitor_number_img">
                                <img src="../img/Visitor_img.png">
                            </div>
                            <div class="Visitor_text">
                                <h4>30分钟内</h4>
                                <h5>当前在线人数</h5>
                                <h1>12000</h1>
                            </div>
                        </div>
                        <div class="Visitor_chart">
                            <div class="index_chart">
                                <div class="chart_top">
                                <ul>
                                    <li><label>指标：</label></li>
                                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>浏览量(PV))</label>
                                    </li>
                                    <li><input type="checkbox" checked="checked" name="radio1"/> <label>访客数(UV)</label></li>
                                    <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                                    <li class="disabled">* 最多只能勾选两项</li>
                                </ul>
                                </div>
                            </div>
                            <div id="indicators_charts" style="height:300px;"></div>
                        </div>
                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">

                            <li role="presentation" class="active"><a aria-controls="profile" data-toggle="tab"
                                                                id="profile-tab" role="tab" href="#profile"
                                                                aria-expanded="false">高级筛选</a></li>

                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade active in" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>来源过滤 :</span></li>
                                            <li><div role="group" class="btn-group">
                                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop4">
                                                    全部
                                                    <span class="caret"></span>
                                                </button>
                                                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                    <li><a href="#">直接访问</a></li>
                                                    <li><a href="#">搜索引擎</a></li>
                                                    <li><a href="#">外部连接</a></li>
                                                </ul>
                                            </div></li>
                                            <li><a href="#">百度</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>设备过滤:</span></li>
                                            <li><input type="radio" checked="checked" name="radio1"/>
                                                <label>全部</label></li>
                                            <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                            <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>地域过滤:</span></li>
                                            <li> <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop1">
                                                        大洲
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#">欧洲</a></li>
                                                        <li><a href="#">南美洲</a></li>
                                                    </ul>
                                                </div>
                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop5">
                                                        国家
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#">印度</a></li>
                                                        <li><a href="#">俄罗斯</a></li>
                                                    </ul>
                                                </div>

                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop6">
                                                        城市
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#"> 成都</a></li>
                                                        <li><a href="#">成都 </a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">转化次数</a></li>

                                                    </ul>
                                                </div>

                                            </div></li>
                                            <li><a href="#">北京</a></li>
                                            <li><a href="#">上海</a></li>
                                            <li><a href="#">上海</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select ">
                                        <ul class="visitor_table_select">
                                            <li> <span>关键词/搜索词:</span>
                                                <input type="text" class="form-control" placeholder=".col-xs-1" value="请输入..."></li>
                                            <li>  <span> 入口页面:</span>
                                                <input type="text" class="form-control" placeholder=".col-xs-1" value="请输入..."></li>
                                            <li>  <span>IP:</span>
                                                <input type="text" class="form-control" placeholder=".col-xs-1" value="请输入..."></li>
                                            <li>   <button class="btn btn-info" type="button">查询</button></li>
                                            <li></li>
                                        </ul>

                                    </div>
                                    </div>
                                    <div class="custom_table">
                                        <table id="vistior_table"  class="table table-hover" >
                                        </table>
                                        <div id="pager2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/less.js"></script>
<script src="../js/jquery.jqGrid.src.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="../js/chart/indicators_charts.js"></script>
<script type="text/javascript" src="../js/table/vistior_table.js"></script>
</body>
</html>