<div class="middle_containers" ng-controller="indexctr">
    <div class="date_select">
        <div>
            <calendar></calendar>
            <div aria-label="First group" role="group" class="btn-group fl">
                <button class="btn btn-default" type="button" ng-click="hourcheck()"
                        ng-class="{'current':hourcheckClass}">按时
                </button>
                <button class="btn btn-default" type="button" ng-click="daycheck()" ng-class="{'current':dayClass}">按日
                </button>
            </div>
        </div>
    </div>
    <div class="my_concent">
        <div class="index_chart">
            <div id="index_charts" style="height:400px;"></div>
        </div>
        <div class="row-fluid">
            <div class="span1">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true" class="glyphicon glyphicon-globe"></span>访客地图
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <ui-select ng-model="continent.selected" theme="selectize" ng-disabled="disabled" class="fl"
                                   style="width: 80px;">
                            <ui-select-match placeholder="亚洲">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="continent in continents">
                                <span ng-bind-html="continent.name"></span>
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled" class="fl"
                                   style="width: 80px;">
                            <ui-select-match placeholder="中国">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="country in countrys">
                                <span ng-bind-html="country.name"></span>
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ng-model="maptarget.selected" theme="selectize" class="fl" style="width: 120px;">
                            <ui-select-match placeholder="浏览量PV">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="maptarget in maptargets">
                                <span ng-bind-html="maptarget.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div id="gest_map" style="height:300px;"></div>
            </div>
            <div class="span2">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true"
                                                       class="glyphicon glyphicon-asterisk"></span>设备环境
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <div role="group" class="btn-group">
                            <ui-select ng-model="equipmenttarget.selected" theme="selectize" class="fl"
                                       style="width: 120px;">
                                <ui-select-match placeholder="浏览量PV">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="equipmenttarget in equipmenttargets">
                                    <span ng-bind-html="equipmenttarget.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div id="environment_map" style="height:300px;"></div>
            </div>
            <div class="span3 indextable">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true"
                                                       class="glyphicon glyphicon-search"></span>搜索词
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <div role="group" class="btn-group">
                            <ui-select ng-model="searchtarget.selected" theme="selectize" class="fl"
                                       style="width: 120px;">
                                <ui-select-match placeholder="浏览量PV">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="searchtarget in searchtargets">
                                    <span ng-bind-html="searchtarget.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ui-grid" ui-grid="gridOptions" ui-grid-pinning id="searchWordGrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

