<div class="middle_containers">
    <div class="date_select">
        <div aria-label="First group" role="group" class="btn-group" ng-controller="IndexCtrl">
            <button class="btn btn-default disabled" type="button">时间</button>
            <button class="btn btn-default" type="button" ng-click="today()" ng-class="{'current':todayClass}">今天
            </button>
            <button class="btn btn-default" type="button" ng-click="yesterday()" ng-class="{'current':yesterdayClass}">
                昨天
            </button>
            <button class="btn btn-default" type="button" ng-click="sevenDay()" ng-class="{'current':sevenDayClass}">
                最近7天
            </button>
            <button class="btn btn-default" type="button" ng-click="month()" ng-class="{'current':monthClass}">最近30天
            </button>
            <button type="button" class="btn btn-default" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                    date-disabled="disabled(date, mode)" current-text="今天" clear-text="清空" close-text="关闭"
                    ng-click="open($event)" ng-class="{'current':definClass}">
                自定义<i class="glyphicon glyphicon-calendar"></i></button>
            <span class="dateshow fl">{{dt | date:'yyyy-MM-dd' }}</span>
        </div>
        <!--    <div aria-label="First group" role="group" class="btn-group" ng-hide="btnchecked">
          <button class="btn btn-default" type="button">按时</button>
          <button class="btn btn-default" type="button">按天</button>
      </div>-->
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"
                                                            aria-hidden="true"></span>
        </button>
    </div>
    <div class="my_concent">
        <div class="index_chart">
            <div class="chart_top">
                <ul>
                    <li><label>展示曲线</label></li>
                    <li><input type="checkbox" checked="checked" name="radio1" value="pv"/> <label>浏览量(PV)</label></li>
                    <li><input type="checkbox" checked="checked" name="radio1" value="uv"/> <label>访问次数</label></li>
                    <li><input type="checkbox" name="radio1" value="outrate"/> <label>跳出率</label></li>
                    <li><input type="checkbox" name="radio1" value="arrrate"/> <label>抵达率</label></li>
                    <li><input type="checkbox" name="radio1" value="avgacctime"/> <label>平均访问时长</label></li>
                    <li><input type="checkbox" name="radio1" value="convertrate"/> <label>页面转化</label></li>
                    <li class="disabled">* 最多只能勾选两项</li>
                </ul>
            </div>
            <div id="index_charts" style="height:400px;"></div>
        </div>
        <div class="row-fluid">
            <div class="span1">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true"
                                                       class="glyphicon glyphicon-globe"></span>访客地图
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <select ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">
                            <option value="">亚洲</option>
                        </select>
                        <select ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">
                            <option value="">中国</option>
                        </select>
                        <select ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">
                            <option value="">浏览量</option>
                        </select>
                    </div>
                </div>
                <div id="gest_map" style="height:300px;"></div>
            </div>
            <div class="span2">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true"
                                                       class="glyphicon glyphicon-asterisk"></span>设备环境
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <div role="group" class="btn-group">
                            <select ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">
                                <option value="">浏览量</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="environment_map" style="height:300px;"></div>
            </div>
            <div class="span3 indextable">
                <div class="under_title">
                    <div class="under_top_title"><span aria-hidden="true"
                                                       class="glyphicon glyphicon-search"></span>搜索词
                    </div>
                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                        <div role="group" class="btn-group">
                            <select ng-model="select.selectVal" ng-options="o.title for o in select.optionsData">
                                <option value="">浏览量</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-controller="Indextable">
                <div class="ui-grid" ui-grid="gridOptions" ui-grid-pinning>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

