<div class="middle_containers" ng-controller="adtrack">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>web.best-ad.cn 指定广告跟踪</p>
        </div>
        <!--网站上部列表部分-->
        <div class="web_list_up">
            <div class="table_content" ng-controller="TabsCtrl">
                <div class="custom_table">
                    <div ui-grid="gridOptions" class="grid grid_table" style="min-height:400px;" ui-grid-pagination ui-grid-selection
                         ui-grid-exporter ></div>
                </div>
            </div>
        </div>
        <!--网站底部列表-->
        <div class="web_list_down">
            <button class="btn btn-default">+&nbsp;新增指定广告跟踪</button>
        </div>
    </div>
</div>
