<div class="middle_containers" ng-controller="adtrack">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p><span ng-bind-html="userTypeName"></span> -指定广告跟踪</p>
            <div  class="web_list_nav_right">
                <ul>
                    <li><a ng-href="#conf/webcountsite/adtrack_add" class="btn btn-info nav_btn ">新增指定广告目标</a></li>
                    <li><a class="btn btn-info nav_btn ">查看报告 </a></li>
                </ul>
            </div>
        </div>
        <!--网站上部列表部分-->
        <div class="web_list_up">
            <div class="table_content">
                <div class="custom_table">
                    <div ui-grid="gridArray"  class="grid grid_table clearfix secondary_table" ui-grid-selection ui-grid-pagination
                         ui-grid-exporter ui-grid-auto-resize></div>
                    <gridpageht ng-click="deleteAll()">
                    </gridpageht>
                </div>
            </div>
        </div>
        <!--网站底部列表-->

    </div>
</div>
