<div class="menu">
    <div ng-controller="menuctr">
        <ssh-accordion>
            <ssh-expander ng-repeat="adminmenu in adminmenus"  ng-class='{current:$index==selectedRow}' ng-click='selectRestaurant($index)' class=""  etitle="adminmenu.title" etype="adminmenu.stype" esref="adminmenu.sref" eicon="adminmenu.icon" echildren="adminmenu.child" ></ssh-expander>
        </ssh-accordion>
    </div>
</div>
<div class="middle_containers" ng-controller="childlist">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>  <span ng-bind-html="userTypeName"></span> -子目录管理</p>
        </div>
        <!--网站上部列表部分-->
        <div class="web_list_up">
            <div class="table_content"  ng-controller="admintablectr">
                <div class="custom_table">
                    <div ui-grid="gridOptions"  class="grid clearfix secondary_table" ui-grid-selection ui-grid-pagination
                         ui-grid-exporter ui-grid-auto-resize></div>
                </div>
            </div>
        </div>
        <!--网站底部列表-->
        <div class="web_list_down">
            <a href="#conf/webcountsite/childlist_add" class="btn btn-default">+&nbsp;新增网站</a>
        </div>
    </div>
</div>

