<div ng-controller="eventchange_updatectr" data-ng-init="loadData()">
    <div class="ngdialog-tilte"><span ng-bind-html="userTypeName"></span> -修改事件转化目标</div>
    <div class="add_event_content">
        <div class="table_content">
            <form role="form" name="eventForm" ng-submit="submitForm(eventForm.$valid)" class="form-horizontal"
                  novalidate>
                <div class="admin-ng-content admin-ngeventchange">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-4 control-label">事件元素ID：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="事件元素ID"
                                       onfocus="this.setAttribute('placeholder','')"
                                       required data-ng-model="eventChange.event_id"
                                       onblur="this.setAttribute('placeholder','事件元素ID')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-4 control-label">事件目标名称：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="事件目标名称"
                                       onfocus="this.setAttribute('placeholder','')"
                                       required data-ng-model="eventChange.event_name"
                                       onblur="this.setAttribute('placeholder','事件目标名称')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-4 control-label">事件作用页面或目录：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="事件作用页面或目录"
                                       onfocus="this.setAttribute('placeholder','')"
                                       required data-ng-model="eventChange.event_page"
                                       onblur="this.setAttribute('placeholder','事件作用页面或目录')">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-offset-1 col-sm-10">
                                <p>可以在URL首或尾使用*匹配任意长度字符，直接填写*代表事件作用目标为整个网站</p>

                                <div class="ng-button-div eventchange-button">
                                    <button ng-disabled="eventForm.$invalid" class="ngdialog-button ng-button"
                                            ng-click="onUpdateEvent() ">确定
                                    </button>
                                    <button class="ngdialog-button ngdialog-button-secondary"
                                            ng-click="closeThisDialog(0)">取消
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>