<div class="middle_containers" ng-controller="count_eventchange">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p><span ng-bind-html="userTypeName"></span> -事件转化目标</p>

            <div class="web_list_nav_right">
                <ul>
                    <li><a data-ng-href="#/conf/webcountsite/eventchange_add" class="btn btn-info nav_btn ">新增事件转化目标</a>
                    </li>
                    <li><a href="#/transform/transformAnalysis" class="btn btn-info nav_btn ">查看报告 </a></li>
                </ul>
            </div>
        </div>
        <!--网站上部列表部分-->
        <div class="web_list_up">
            <div class="table_content"  ng-controller="admintablectr">
                <div class="custom_table" ng-class="{hidePageContainer:gridApiAdmin.grid.rows.length<=20}">
                    <div ui-grid="gridOptions"  class="grid clearfix secondary_table "  ui-grid-exporter ui-grid-auto-resize ></div>
                </div>
            </div>
        </div>
        <!--网站底部列表-->

    </div>
</div>