<div class="middle_containers" ng-controller="pagechange_addctr">
    <!--网站导航-->
    <div class="page_content">
        <p class="add_title_bar"><span ng-bind-html="userTypeName"></span> -新增页面转化</p>

        <div class="page_container padding_content">
            <div class="small_title">目标（你希望访客进入的任何页面）</div>
            <div class="page_container">
                <div class="target_add fl">
                    <ul class="target_add_content">
                        <li><input type="text" class="input_name" placeholder="目标名称"
                                   data-ng-model="page_schema.target_name"
                                   onfocus="this.setAttribute('placeholder','')"
                                   onblur="this.setAttribute('placeholder','目标名称')"></li>
                        <li>
                            <input type="text" data-ng-model="url.url" class="input_url"
                                   data-ng-repeat="url in page_schema.target_url" placeholder="目标URL"
                                   onfocus="this.setAttribute('placeholder','')"
                                   onblur="this.setAttribute('placeholder','目标URL')">
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-ng-click="targetUrlAdd(page_schema.target_url,targetRemoves)" id="addTargetUrl">添加页面</a>
                            <a href="javascript:void(0)" style="margin-bottom: 10px" data-ng-click="removeTargetUrl(page_schema.target_url,targetRemoves,$index)" ng-show="showRemove" data-ng-repeat="targetRemove in targetRemoves"><span class="remove"><i class="glyphicon glyphicon-remove"></i></span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="target_way_title">
                        <span data-ng-click="record=!record">可选择记录方式&nbsp;&nbsp;<i class="caret"></i></span>
                    </div>
                    <div class="target_way_content" ng-show="record">
                        <ul>
                            <li><label><input type="radio" name="record" ng-checked="radio_record.visit_times"
                                              data-ng-click="chooseRecordType('visit_times')">访问次数</label></li>
                            <li><label><input type="radio" name="record" data-ng-click="chooseRecordType('pv')"
                                              ng-checked="radio_record.pv">测量PV</label></li>
                            <li><label><input type="radio" name="record"
                                              data-ng-click="chooseRecordType('order_conv')"
                                              ng-checked="radio_record.order_conv">订单转化</label>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="javascript:void(0)">插入订单号</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="target_prompt fl">
                    <div>
                        <div class="popover right box " style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <p style="background-color: #f6f6f6">
                                    示例：您网站的"付款成功"页面、"注册成功"页面等任何您希望访客进入的页面。<a href="javascript:void(0)">查看更多</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="page_container padding_content">
            <div class="small_title" data-ng-click="benefitSet=!benefitSet">
                <i ng-show="!benefitSet" class="glyphicon glyphicon-plus"></i>
                <i ng-show="benefitSet" class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;收益设置(选填)
            </div>
            <div class="benefit_content" ng-show="benefitSet">
                <h6 class="benefit_title">此指标填写后，在推广类报告的自定义指标中勾选"收益"后，可以查看</h6>
                <table>
                    <tr>
                        <td>预期每次转化收益</td>
                        <td><input type="text" class="" data-ng-model="page_schema.expected_yield">元<a
                                href="javascript:void(0)"></a></td>
                        <td>（精确到两位小数）</td>
                    </tr>
                    <tr>
                        <td>预期转化率</td>
                        <td><input type="text" class="" data-ng-model="page_schema.pecent_yield">%<a href="javascript:void(0)"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page_container padding_content">
            <div class="small_title" data-ng-click="pathType=!pathType">
                <i ng-show="!pathType" class="glyphicon glyphicon-plus"></i>
                <i ng-show="pathType" class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;路径类型(选填)
            </div>
            <div class="benefit_content" ng-show="pathType" data-ng-repeat="path in page_schema.paths">
                <input class="input_name" type="text" placeholder="路径名称" data-ng-model="path.path_name"
                       class="form-control"
                       onfocus="this.setAttribute('placeholder','')"
                       onblur="this.setAttribute('placeholder','路径名称')">
                <span class="remove" data-ng-click="removePath(page_schema.paths, $index)"><i
                        class="glyphicon glyphicon-remove"></i></span>
                <label><input type="checkbox" data-ng-model="path.path_mark">只有经过此路径的目标记为转化</label>
                <ul class="path_type_content" data-ng-repeat="step in path.steps">
                    <li>步骤{{$index+1}}</li>
                    <li><input type="text" class="input_name" placeholder="步骤名称" data-ng-model="step.step_name"
                               onfocus="this.setAttribute('placeholder','')"
                               onblur="this.setAttribute('placeholder','步骤名称')"></li>
                    <li>
                        <input type="text" data-ng-model="step_url.url" class="input_url" placeholder="步骤URL"
                               data-ng-repeat="step_url in step.step_urls"
                               onfocus="this.setAttribute('placeholder','')"
                               onblur="this.setAttribute('placeholder','步骤URL')">
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-ng-click="addStepUrls(step, pages)" class="{{step.step_urls.length==5?cancelAdd:0}}">添加页面</a>
                    </li>
                    <li>
                        <span class="remove" style="margin-bottom: 10px"
                              data-ng-click="removeStepUrls(step.step_urls, $index)"><i
                                class="glyphicon glyphicon-remove"></i></span>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <a href="javascript:void(0)" class="{{path.steps.length==10?cancelAdd:0}}" data-ng-click="addSteps(path, steps)">添加步骤</a>
            </div>
            <div class="page_container" ng-show="pathType">
                <a class="btn btn-info {{path.length==4?cancelAdd:0}}" data-ng-click="addPaths(page_schema.paths)">添加路径</a>
            </div>
        </div>
        <div class="page_container padding_content">
            <div class="small_title" data-ng-click="changeType=!changeType">
                <i ng-show="!changeType" class="glyphicon glyphicon-plus"></i>
                <i ng-show="changeType" class="glyphicon glyphicon-minus"></i>
                &nbsp;&nbsp;转化类型 &nbsp;&nbsp;(选填)
            </div>
            <div class="benefit_content" ng-show="changeType">
                <label><input type="radio" class="styled" name="type" ng-checked="radio_conv.regist"
                              data-ng-click="chooseConvType('regist')">注册</label>
                <label><input type="radio" class="styled" name="type" ng-checked="radio_conv.communicate"
                              data-ng-click="chooseConvType('communicate')">沟通</label>
                <label><input type="radio" class="styled" name="type" ng-checked="radio_conv.place_order"
                              data-ng-click="chooseConvType('place_order')">下单</label>
                <label><input type="radio" class="styled" name="type" ng-checked="radio_conv.other"
                              data-ng-click="chooseConvType('other')">其他&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" class="input_text" data-ng-model="t_conv_text"></label>
            </div>
        </div>
    </div>
    <div class="footer-btn" ng-click="submit()">
        <button class="btn btn-info">确 定</button>
    </div>
</div>