<div class="middle_containers" ng-controller="pagechange">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>web.best-ad.cn 页面转化目标</p>
        </div>
        <!--网站上部列表部分-->
        <div class="web_list_up">
            <div class="table_content" ng-controller="admintablectr">
                <div class="custom_table">
                    <div ui-grid="gridOptions"  class="grid clearfix secondary_table" ui-grid-selection ui-grid-pagination
                         ui-grid-exporter ui-grid-auto-resize></div>
                </div>
            </div>
        </div>
        <!--网站底部列表-->
        <div class="web_list_down">
            <a class="btn btn-default" data-ng-href="#/conf/webcountsite/pagechange_add">+&nbsp;新增页面转化目标</a>
        </div>
    </div>
</div>