<div class="middle_containers" ng-controller="pagechange_addctr">
        <!--网站导航-->
   <div class="page_add_container">
       <p class="web-title">best-ad.cn</p>
       <div class="add_page_title">
           <p>新增页面转化目标</p>
           <div class="add_page_content">
               <p>目标(你希望访客进入的任何页面)</p>
               <div class="row-fluid add_page_target">
                   <div class="col-xs-4">
                       <ul class="add_target">
                           <li><input type="text" class="form-control" data-ng-focus="targetFocus()" data-ng-blur="targetBlur()" placeholder="目标名称"></li>
                           <li><input type="text" class="form-control" data-ng-focus="targetFocus()" data-ng-blur="targetBlur()" placeholder="目标URL"></li>
                           <li><a href="#">添加页面</a></li>
                       </ul>
                       <div class="clearfix"></div>
                       <div class="col-xs-4">
                           <div class="choice_record_way" data-ng-click="record=!record"><span>可选择记录方式&nbsp;&nbsp;<i class="caret"></i></span></div>
                           <div class="record_way" ng-show="record">
                               <ul>
                                   <li><label><input type="radio" name="record">访问次数</label></li>
                                   <li><label><input type="radio" name="record">测量PV</label></li>
                                   <li><label><input type="radio" name="record">订单转化</label>&nbsp;&nbsp;&nbsp;&nbsp;<span>插入订单号</span></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xs-5" ng-show="target">
                       <div>
                           <div class="popover right box " style="display: block;">
                               <div class="arrow"></div>
                               <div class="popover-content">
                                   <p style="background-color: #f6f6f6">
                                       示例：您网站的"付款成功"页面、"注册成功"页面等任何您希望访客进入的页面。<a href="#">查看更多</a>
                                   </p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="add_page_content">
               <p><i class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;收益设置(选填)</p>
               <div class="earnings">
                   <h6 style="padding-left: 30px;color: #ccc">此指标填写后，在推广类报告的自定义指标中勾选"收益"后，可以查看</h6>
                   <div class="col-xs-12">
                       <div class="col-xs-1">预期每次转化收益</div>
                       <div class="col-xs-1"><input type="text" class="form-control">元<a href="#">@</a></div>
                       <div class="col-xs-2">（精确到两位小数）</div>
                   </div>
                   <div class="col-xs-12" style="margin-top: 20px">
                       <div class="col-xs-1">预期转化率</div>
                       <div class="col-xs-1"><input type="text" class="form-control">元<a href="#">@</a></div>
                       <div class="col-xs-2">（精确到两位小数）</div>
                   </div>
               </div>
           </div>
           <div class="clearfix"></div>
           <div class="add_page_content">
               <p><i class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;路径类型(选填)</p>
               <div class="col-xs-12 path_type" data-ng-repeat="path in paths">
                   <ul class="path_name">
                       <li><input type="text" placeholder="路径名称" class="form-control"></li>
                       <li class="remove" data-ng-click="removePath(paths)"><i class="glyphicon glyphicon-remove"></i></li>
                       <li><label><input type="checkbox">只有经过此路径的目标记为转化</label></li>
                   </ul>
                   <div class="clearfix"></div>
                   <ul class="path_steps" data-ng-repeat="step in steps">
                       <li><span>步骤</span></li>
                       <li><input type="text" placeholder="步骤名称" class="form-control"></li>
                       <li data-ng-repeat="page in pages"><input type="text" placeholder="步骤URL" class="form-control"></li>
                       <li data-ng-click="addPages(pages)"><a href="#">添加页面</a></li>
                       <li class="remove" data-ng-click="removeSteps(steps)"><i class="glyphicon glyphicon-remove"></i></li>
                   </ul>
                   <div class="clearfix"></div>
                   <a href="#" style="display:block;padding: 10px 0 0 15px;width: 68px" data-ng-click="addSteps(steps)">添加步骤</a>
               </div>
               <div class="col-xs-2">
                   <button style="margin: 10px 0 0 15px" class="btn btn-info" data-ng-click="addPaths(paths)">添加路径</button>
               </div>
           </div>
           <div class="clearfix"></div>
           <div class="add_page_content">
               <p><i class="glyphicon glyphicon-minus"></i>&nbsp;&nbsp;转化类型<a href="#">@</a>(选填)</p>
               <div class="col-xs-12 transform_type">
                   <label><input type="radio" name="type">注册</label>
                   <label><input type="radio" name="type">沟通</label>
                   <label><input type="radio" name="type">下单</label>
                   <label><input type="radio" name="type">其他<input type="text"></label>
               </div>
               <div class="clearfix"></div>
           </div>
           <div class="footer-btn">
               <button>确定</button>
           </div>
       </div>

   </div>
</div>