<div class="middle_containers" ng-controller="count_timechange">
    <div class="time">
        <span class="time_title_span"><span ng-bind-html="userTypeName"></span> -时长转化目标</span> <!--标题-->
        <div class="time_banner"><img src="../img/bg.png" alt="背景图片" class="img-responsive"/></div>
        <!--banner图-->
        <div class="time_content">
            <!--主要内容-->
            <ul>
                <li>
                    <div class="time_content_left">
                        <ul>
                            <li><input type="checkbox" name="设置时长转化" data-ng-model="time_conv.status"
                                       ng-change="onCheckBoxChange()"/><span>设置时长转化</span></li>
                            <li>访客的一次访问中，访问总时长超过 <input type="text" maxlength="4" placeholder="30"
                                                        class="form-control time_content_left_input"
                                                        onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                        onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                         onblur="this.value=this.value.match(/^([2-9][0-9]|[1-9][0-9]{1,})$/g,'')"   data-ng-model="time_conv.val" ng-readonly="truefalse"/> 秒时，记录为一次转化。
                            </li>
                        </ul>
                    </div>
                    <div class="time_content_right">
                        <div class="popover right box " style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <span>设置时长转化<br/>客户在网站上停留超过一定时间计为一次转化。一般网站<br/>推荐设置为30秒。<p data-ng-show="time_conv.val<10" style="color: red;display: inline">(设置的值必须为大于或等于10的整数)</p></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="time_content_left">
                        <ul>
                            <li><input type="checkbox" name="设置时长转化" data-ng-model="pv_conv.status"
                                       ng-change="onCheckBoxChange()"/><span>设置访问页数转化</span></li>
                            <li>访客的一次访问中，访问总页数超过 <input type="text" maxlength="4"
                                                        class="form-control time_content_left_input" placeholder="2"
                                                        onblur="this.value=this.value.match(/\b[2-9]\b|([1-9]\d+)/g,'')" ng-model="pv_conv.val" ng-readonly="truefalsenext"/> 页时，记录为一次转化。
                            </li>
                        </ul>
                    </div>
                    <div class="time_content_right">
                        <div class="popover right box " style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <span>设置访问页数转化<br/>客户在网站上浏览页面数超过一定值计为一次转化。一般<br/>网站推荐设置为3页。<p data-ng-hide="pv_conv.val>=2" style="color: red;display: inline">(设置的值必须为大于或等于2的整数)</p></span>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <button class="btn btn-default time_button" ng-click="onSubmitClickListener()">确定</button>
        <!--<button class="btn btn-default time_button ">取消</button>-->
    </div>
</div>