<div class="middle_containers" ng-controller="timechange">
    <div class="time">
        <span class="time_title_span"><span ng-bind-html="userTypeName"></span> -时长转化目标</span>   <!--标题-->
        <div class="time_banner"><img src="../img/bg.png" alt="背景图片" class="img-responsive"/></div> <!--banner图-->
        <div class="time_content">
            <!--主要内容-->
            <ul>
                <li>
                    <div class="time_content_left">
                        <ul>
                            <li><input type="checkbox"  class="styled " name="设置时长转化" ng-model="time_conv.status"/><span>设置时长转化</span></li>
                            <li>访客的一次访问中，访问总时长超过 <input type="text" class="form-control time_content_left_input" placeholder="30" ng-model="time_conv.val" /> 秒时，记录为一次转化。</li>
                        </ul>
                    </div>
                    <div class="time_content_right">
                        <div class="popover right box " style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <p>设置时长转化<br/>客户在网站上停留超过一定时间计为一次转化。一般网站<br/>推荐设置为30秒。</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="time_content_left">
                        <ul>
                            <li><input type="checkbox" class="styled"  name="设置时长转化" ng-model="pv_conv.status"/><span>设置访问页数转化</span></li>
                            <li>访客的一次访问中，访问总页数超过  <input type="text"class="form-control time_content_left_input" placeholder="3" ng-model="pv_conv.val"/> 页时，记录为一次转化。</li>
                        </ul>
                    </div>
                    <div class="time_content_right">
                        <div class="popover right box "style="display: block;">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <p>设置访问页数转化<br/>客户在网站上浏览页面数超过一定值计为一次转化。一般网站<br/>推荐设置为3页。</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-info time_button" ng-click="onSubmitClickListener()">确定</button>
        <button class="btn btn-info time_button ">取消</button>
    </div>
</div>