<div>
    <div ng-click="toggleText()">
        <h4>
            <a data-ng-href="{{sref}}" data-ng-if="type == 0" class="accordion-toggle">
                <span aria-hidden="true" ng-class="icon"></span>
                <span>{{title}}</span>
            </a>
            <a data-ng-href="" data-ng-if="type == 1" class="accordion-toggle">
                <span aria-hidden="true" ng-class="icon"></span>
                <span>{{title}}</span>
            </a>
        </h4>
    </div>
    <div ng-show="showText">
        <ul>
            <li data-ng-class="{'current':sshPath == re.sref}" data-ng-repeat="re in child"><a data-ng-href="{{re.sref}}">{{re.text}}</a></li>
        </ul>
    </div>
</div>