<div class="show_footer">
    <div class="center_footer">
        <ul class="about_us">
            <li><a href="http://www.best-ad.cn/about.html">关于我们</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">联系我们</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">隐私条款</a></li>
            <li>|</li>
            <li><a href="javascript:void(0)">诚聘英才</a></li>
        </ul>
        <p>
            Copyright@2013 perfect-cn.cn All Copyright Reserved.版权所有：北京普菲特广告有限公司京IPC备***号
        </p>
    </div>
</div>