<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百思慧眼</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/ng-dialog/0.3.8/css/ngDialog.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://cdn.bootcss.com/ng-dialog/0.3.8/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/angular-ui-select/0.11.2/select.css">
<!--    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/selectize.js/0.12.0/css/selectize.default.css">-->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/sanitize.css/2.0.0/sanitize.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/daterangepicker-bs3.css">
    <!--日历-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/ui-grid-unstable.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.min.css">
</head>