<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/less.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="js/chart/index_chart.js"></script>
<script type="text/javascript" src="js/chart/environment_charts.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script type="text/javascript" src="js/utils/date.js"></script>
