<script type="text/javascript" src="http://cdn.bootcss.com/echarts/2.2.1/echarts-all.js"></script>
<!-- app -->
<script type="text/javascript" src="js/app.js"></script>

<!-- service -->
<script type="text/javascript" src="js/services/dateservice.js"></script>
<script type="text/javascript" src="js/services/messageService.js"></script>
<script type="text/javascript" src="js/services/areaselect.js"></script>
<!-- vier -->
<script type="text/javascript" src="js/router.js"></script>
<!-- directive -->
<script type="text/javascript" src="js/directive/publicdirective.js"></script>
<!-- controller -->
<script type="text/javascript" src="js/controller/indexctr.js"></script>
<script type="text/javascript" src="js/controller/menuctr.js"></script>
<script type="text/javascript" src="js/controller/surveryctrl.js"></script>
<script type="text/javascript" src="js/controller/indextable.js"></script>
<script type="text/javascript" src="js/controller/visitiorctr.js"></script>
<script type="text/javascript" src="js/controller/searchctr.js"></script>
<script type="text/javascript" src="js/controller/trend_realtime_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_yesterday_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_today_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_month_ctrl.js"></script>
<script type="text/javascript" src="js/controller/source/sourcectr.js"></script>
<script type="text/javascript" src="js/controller/source/searchenginectr.js"></script>
<script type="text/javascript" src="js/controller/source/externallinksctr.js"></script>
<script type="text/javascript" src="js/controller/page/entrancepagectr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/flowanalysisctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/newvisitorsctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/attractivenessanalysisctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/analysistransformationctr.js"></script>
<script type="text/javascript" src="js/controller/visitor/equipmentctr.js"></script>
<script type="text/javascript" src="js/controller/wayctrl.js"></script>
<!--<script type="text/javascript" src="js/index.js"></script>-->
<script type="text/javascript" src="js/utils/date.js"></script>
<script type="text/javascript" src="js/utils/chartsutlis.js"></script>
<script type="text/javascript" src="js/utils/chartfactory.js"></script>
<script type="text/javascript" src="js/utils/map.js"></script>
<script type="text/javascript" src="js/utils/chartsMapOrPie.js"></script>
<!--<script type="text/javascript" src="js/menu.js"></script>-->
<!--<script type="text/javascript" src="js/client/request.js"></script>-->

