<script type="text/javascript" src="http://cdn.bootcss.com/echarts/2.2.1/echarts-all.js"></script>
<!-- check -->
<script type="text/javascript" src="js/angularjs/checkbox.js"></script>
<!-- app -->
<script type="text/javascript" src="js/app.js"></script>

<!-- service -->
<script type="text/javascript" src="js/services/dateservice.js"></script>
<script type="text/javascript" src="js/services/messageService.js"></script>
<script type="text/javascript" src="js/services/areaselect.js"></script>
<!-- vier -->
<script type="text/javascript" src="js/router.js"></script>
<!-- directive -->
<script type="text/javascript" src="js/directive/publicdirective.js"></script>
<!-- controller -->
<script type="text/javascript" src="js/controller/indexctr.js"></script>
<script type="text/javascript" src="js/controller/menuctr.js"></script>
<script type="text/javascript" src="js/controller/surveryctrl.js"></script>
<script type="text/javascript" src="js/controller/tabsctrl.js"></script>
<script type="text/javascript" src="js/controller/provincemapctr.js"></script>
<script type="text/javascript" src="js/controller/searchctr.js"></script>
<script type="text/javascript" src="js/controller/search_dy_ctr.js"></script>
<script type="text/javascript" src="js/controller/search_gjc_ctr.js"></script>
<script type="text/javascript" src="js/controller/search_cy_ctr.js"></script>
<script type="text/javascript" src="js/controller/search_ssc_ctr.js"></script>
<script type="text/javascript" src="js/controller/search_tg_ctr.js"></script>
<script type="text/javascript" src="js/controller/trend_realtime_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_yesterday_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_today_ctrl.js"></script>
<script type="text/javascript" src="js/controller/trend_month_ctrl.js"></script>
<script type="text/javascript" src="js/controller/source/sourcectr.js"></script>
<script type="text/javascript" src="js/controller/source/searchenginectr.js"></script>
<script type="text/javascript" src="js/controller/source/externallinksctr.js"></script>
<script type="text/javascript" src="js/controller/source/searchtermctr.js"></script>
<script type="text/javascript" src="js/controller/page/entrancepagectr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/flowanalysisctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/newvisitorsctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/attractivenessanalysisctr.js"></script>
<script type="text/javascript" src="js/controller/page/secondpage/analysistransformationctr.js"></script>
<script type="text/javascript" src="js/controller/visitor/equipmentctr.js"></script>
<script type="text/javascript" src="js/controller/wayctrl.js"></script>
<script type="text/javascript" src="js/controller/novisitors.js"></script>
<script type="text/javascript" src="js/controller/indexoverview.js"></script>
<script type="text/javascript" src="js/controller/linksctrl.js"></script>
<script type="text/javascript" src="js/controller/pagetitlectr.js"></script>
<script type="text/javascript" src="js/controller/alliancectr.js"></script>
<script type="text/javascript" src="js/controller/urlspeedctr.js"></script>
<script type="text/javascript" src="js/controller/heatmapctr.js"></script>
<script type="text/javascript" src="js/controller/vistiorctr.js"></script>
<script type="text/javascript" src="js/controller/pagevaluectr.js"></script>
<script type="text/javascript" src="js/controller/visitepagesctr.js"></script>
<script type="text/javascript" src="js/controller/exitpagesctr.js"></script>
<script type="text/javascript" src="js/controller/trafficmapctr.js"></script>
<script type="text/javascript" src="js/controller/exchangectr.js"></script>
<script type="text/javascript" src="js/controller/searchpromotion.js"></script>
<script type="text/javascript" src="js/controller/history.js"></script>
<!--<script type="text/javascript" src="js/index.js"></script>-->
<script type="text/javascript" src="js/utils/date.js"></script>
<script type="text/javascript" src="js/utils/chartsutlis.js"></script>
<script type="text/javascript" src="js/utils/chartfactory.js"></script>
<script type="text/javascript" src="js/utils/map.js"></script>
<script type="text/javascript" src="js/utils/chartsMapOrPie.js"></script>
<!--<script type="text/javascript" src="js/menu.js"></script>-->
<!--<script type="text/javascript" src="js/client/request.js"></script>-->
<!--conf-->
<script type="text/javascript" src="js/conf/adminmainctr.js"></script>


