<div class="menu">
<div ng-controller="AccordionDemoCtrl">
    <accordion close-others="oneAtATime"  >
        <accordion-group  heading=""  is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-class="{'current':currentMenu == 'menuFirst'}" ng-click="selectMenu('menuFirst')">
            <accordion-heading  ui-sref="index">
               <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>网站概览
            </accordion-heading>
        </accordion-group>
        <accordion-group heading="" ng-class="{'current':currentMenu == 'menuone'}" ng-click="selectMenu('menuone')">
            <accordion-heading>
            <!--    <span  class="baidu_icon"></span>--><span aria-hidden="true" class="glyphicon glyphicon-asterisk"></span>百度推广
            </accordion-heading>
            <ul>
                <li><a ui-sref="survey" ui-sref-active="active">推广概况</a></li>
                <li><a ui-sref="way" ui-sref-active="active">推广方式</a></li>
                <li><a ui-sref="search" ui-sref-active="active">搜索推广</a></li>
                <li><a ui-sref="alliance" ui-sref-active="active">网盟推广</a></li>
                <li><a ui-sref="urlspeed" ui-sref-active="active">推广URL速度</a></li>
            </ul>
        </accordion-group>
        <accordion-group heading="" ng-class="{'current':currentMenu == 'menuSecend'}" ng-click="selectMenu('menuSecend')">
            <accordion-heading>
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>趋向分析
            </accordion-heading>
            <ul>
                <li><a ui-sref="realtime" ui-sref-active="active">实时访客</a></li>
                <li><a ui-sref="today" ui-sref-active="active">今日统计</a></li>
                <li><a ui-sref="yesterday" ui-sref-active="active">昨日统计</a></li>
                <li><a ui-sref="month" ui-sref-active="active">最近30天</a></li>
            </ul>
        </accordion-group>
        <accordion-group  heading="" ng-class="{'current':currentMenu == 'menuThird'}" ng-click="selectMenu('menuThird')">
            <accordion-heading>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>来源分析
            </accordion-heading>
            <ul>
                <li><a ui-sref="source" ui-sref-active="active">全部来源</a></li>
                <li><a ui-sref="searchengine" ui-sref-active="active">搜索引擎</a></li>
                <li><a ui-sref="searchterm" ui-sref-active="active">搜索词</a></li>
                <li><a ui-sref="externallinks" ui-sref-active="active">外部链接</a></li>
            </ul>
        </accordion-group>
        <accordion-group heading="" ng-class="{'current':currentMenu == 'menuFour'}" ng-click="selectMenu('menuFour')">
            <accordion-heading>
                <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>页面分析
            </accordion-heading>
            <ul>
                <li><a ui-sref="indexoverview" ui-sref-active="active">受访页面</a></li>
                <li><a ui-sref="entrancepage" ui-sref-active="active">入口页面</a></li>
                <li><a ui-sref="pagetitle" ui-sref-active="active">页面标题</a></li>
                <li><a href="#">离站链接</a></li>
            </ul>
        </accordion-group>
        <accordion-group heading=""  ng-class="{'current':currentMenu == 'menuFive'}" ng-click="selectMenu('menuFive')">
            <accordion-heading>
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>访客分析
            </accordion-heading>
            <ul>
                <li><a ui-sref="visitormap" ui-sref-active="active">访客地图</a></li>
                <li><a ui-sref="equipment" ui-sref-active="active">设备环境</a></li>
                <li><a ui-sref="novisitors" ui-sref-active="active">新老访客</a></li>
                <li><a ui-sref="visitorfeature" ui-sref-active="active">访客特征</a></li>
            </ul>
        </accordion-group>
    </accordion>
</div>
</div>