
<nav class="navbar navbar-default" role="navigation" ng-controller="ngSelect">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="logo" href="/#index"><img src="../img/logo.jpg"></a>
    </div>
    <div class="collapse navbar-collapse top_menu" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/#index"><span aria-hidden="true" class="glyphicon glyphicon-home"></span>网站概览</a></a></li>
            <li class="dropdown">
                <span class="fl website">网站：</span>
                <ui-select ng-model="siteselect.selected" theme="select2" reset-search-input="false" class="fl"
                           ng-change="changeUrl(siteselect.selected)" style="min-width:140px;">
                    <ui-select-match placeholder="{{ default }}"><span data-ng-bind="$select.selected.name"></span>
                    </ui-select-match>

                    <ui-select-choices repeat="siteselect in siteselects">
                        <a data-ng-href="#index"><span ng-bind-html="siteselect.name"></span></a>
                    </ui-select-choices>
                </ui-select>
                <a href="conf.html#/conf" class="fl">管理设置</a>
            </li>
            <li>
                <span aria-hidden="true" class="glyphicon glyphicon-user fl"></span>
                <span data-ng-bind="perfectUser.name"></span>
            </li>
            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span>退出</a></li>
        </ul>
    </div>
</nav>