<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="logo" href="#"><img src="../img/logo.jpg"></a>
    </div>
    <div class="collapse navbar-collapse top_menu" id="example-navbar-collapse" ng-controller="ngSelect">
        <ul class="nav navbar-nav">
            <li><a href="#"  ui-sref="index"><span aria-hidden="true" class="glyphicon glyphicon-home"></span>网站概览</a></a></li>
            <li class="dropdown">
                <span class="fl website">网站：</span>
                <ui-select ng-model="userselect.selected" theme="selectize" class="fl" style="min-width: 140px;" ng-change="changeUrl(userselect.selected)">
                    <ui-select-match placeholder="{{ default }}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="userselect in userselects">
                        <span ng-bind-html="userselect.name"></span>
                    </ui-select-choices>
                </ui-select>
                <a href="#" class="fl">管理设置</a>
            </li>
            <li><a href="#"> <span aria-hidden="true" class="glyphicon glyphicon-user"></span><span ng-bind="username"></span></a></li>
            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span>退出</a></li>
        </ul>
    </div>
</nav>