<div class="middle_containers" ng-controller="adminmainctr">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>网站列表</p>
            <div  class="web_list_nav_right">
                <ul>
                    <li><input type="checkbox" class="styled web_list_nav_input1" /> <b>其他首页</b></li>
                    <li><input type="checkbox" class="styled web_list_nav_input1" /> <b>网站首页</b></li>
                    <li><input type="text" class="form-control " id="web_list_nav_input" value="请输入网址…"/></li>
                    <li><button class="btn btn-info nav_btn ">代码安装检查</button></li>
                </ul>
            </div>
        </div>
        <!--网站上半部分列表-->
        <div class="web_list_up" >
            <div class="table_content" ng-controller="adminmainctr">
                <div class="custom_table">

                    <div ui-grid="gridOptions" class="grid grid_table" ui-grid-edit style="min-height:400px;"ui-grid-pagination ui-grid-selection

                         ui-grid-exporter ui-grid-expandable></div>
                </div>
            </div>
        </div>

        <!--网站中部左右部分-->
        <!--网站底部列表-->
        <div class="web_list_down">
            <a  ng-click="open()" class="btn btn-default">+&nbsp;新增网站</a>
        </div>
    </div>
</div>


