<div class="middle_containers" ng-controller="adminmainctr">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>网站列表</p>
            <div  class="web_list_nav_right">
                <ul>
                    <li><input type="checkbox" class="styled web_list_nav_input1" /> <b>其他首页</b></li>
                    <li><input type="checkbox" class="styled web_list_nav_input1" /> <b>网站首页</b></li>
                    <li><input type="text" maxlength="128" class="form-control " id="web_list_nav_input" placeholder="请输入网址…" onfocus="$('#web_list_nav_input').prop('value','');$('#web_list_nav_input').css('color', 'black');this.setAttribute('placeholder','')"
                               onblur="this.setAttribute('placeholder','请输入网址...')"/></li>
                    <li><button class="btn btn-info nav_btn " data-ng-click="codeCheck()">代码安装检查</button></li>
                </ul>
            </div>
        </div>
        <!--网站上半部分列表-->
        <div class="web_list_up" >
            <div class="table_content" ng-controller="admintablectr">
                <div class="custom_table main_table">
                    <div ui-grid="gridOptions"  class="grid clearfix secondary_table" ui-grid-selection ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui.grid.selection></div>


                </div>
            </div>
        </div>

        <!--网站中部左右部分-->
        <!--网站底部列表-->
        <div class="web_list_down">
            <a  ng-click="onInsert()" class="btn btn-default">+&nbsp;新增网站</a>
        </div>
        <br/>


    </div>
</div>


