<div class="middle_containers" ng-controller="adminmainctr">
    <div class="web_list">
        <!--网站导航-->
        <div class="web_list_nav">
            <p>网站列表</p>
            <button class="btn btn-info  ">代码安装检查</button>
            <input type="text" class="form-control "id="web_list_nav_input" placeholder="请输入网址…"/>
            <span>其他首页</span><input type="checkbox"/>
            <span>网站首页</span><input type="checkbox"/>
        </div>
        <!--网站上半部分列表-->
        <div class="web_list_up" >
            <div class="table_content" ng-controller="admintablectr">
                <div class="custom_table">
                    <div ui-grid="gridOptions" class="grid grid_table" style="min-height:400px;"ui-grid-pagination ui-grid-selection
                         ui-grid-exporter ui-grid-expandable></div>
                </div>
            </div>
        </div>
        <!--网站中部左右部分-->
        <!--网站底部列表-->
        <div class="web_list_down">
            <button class="btn btn-default">+&nbsp;新增网站</button>
        </div>
    </div>
</div>

