<div class="middle_containers" ng-controller="adsCreativeCtr">
    <div class="date_select" set-class-when-at-top="fix-to-top">
        <div aria-label="First group " role="group" class="btn-group fl">
            <a class="btn btn-default" data-ng-href="#ads/adsSource" type="button">来源</a>
            <a class="btn btn-default" data-ng-href="#ads/adsMedium" type="button">媒介</a>
            <a class="btn btn-default" data-ng-href="#ads/adsPlan" type="button">计划</a>
            <a class="btn btn-default" data-ng-href="#ads/adsKeyWord" type="button">关键词</a>
            <a class="btn btn-default current" data-ng-href="#ads/adsCreative" type="button">创意</a>
        </div>
        <calendar></calendar>
        <dateother></dateother>
        <refresh></refresh>
        <div aria-label="First group" role="group" class="btn-group fr">
            <a class="btn btn-default current add_ads_title" style="line-height: 24px" data-ng-href="#conf/webcountsite/adtrack_add" type="button">新增指定广告跟踪</a>
        </div>
    </div>
    <div class="my_concent">
        <!--<ssh-es-ads-creative-show type="today"></ssh-es-ads-creative-show>-->
        <ssh-ad-date-show></ssh-ad-date-show>
        <div class="index_chart gesture">
            <div id="indicators_charts_legend"></div>
            <div id="indicators_charts" class="chart_height"></div>
        </div>
        <div class="table_content" ng-controller="TabsCtrlAds">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope"  ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                    <a class="ng-binding">高级筛选
                        <span class="impliedCondition">
                            <span ng-show="visitorSearch || areaSearch">（</span>
                            <span ng-show="areaSearch">
                                {{areaSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeAreaSearch(this);" ng-show="areaSearch"></i>
                            </span>
                            <span ng-show="visitorSearch">
                                {{visitorSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeVisitorSearch(this);" ng-show="visitorSearch"></i>
                            </span>
                            <span ng-show="visitorSearch || areaSearch">）</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <div class="chart_tops chart_default">
                        <ul>
                            <li><a href="javascript:void(0)" data-ssh-default-quota="source_adscreativefsearchengine">系统默认指标</a></li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>网站基础指标 :</span>
                        <ul>
                            <li ng-repeat="item in TodayWeb" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>流量质量指标:</span>
                        <ul>
                            <li ng-repeat="item in Todayfloweds" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>转化指标 :</span>
                        <ul>
                            <li ng-repeat="item in adsTransform" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,transform,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top chart_noborder">
                        <button class="btn btn-primary" type="button" ng-click="targetSearch(true)">确定</button>
                        * 可同时选择6项
                    </div>

                </div>
                <div class="custom_title"  ng-show="tab === 2">
                    <div class="chart_top2">
                        <ul>
                            <li><span>地域过滤:</span></li>
                            <li>
                                <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                    <div role="group" class="btn-group">
                                        <ui-select ng-model="city.selected" theme="select2" reset-search-input="false" class="fl"
                                                   data-ng-change="setAreaFilter(city.selected.name)"
                                                   style="width: 80px;">
                                            <ui-select-match placeholder="全部">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="city in allCitys">
                                                <span ng-bind-html="city.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('北京')">北京</a>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('上海')">上海</a>
                            </li>
                            <li><a href="javascript:void(0)" data-ng-click="setSearchEngineAreaFilter('广州')">广州</a>
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top2">
                        <ul>
                            <li><span>访客过滤 :</span></li>
                            <li><label ng-click="setVisitors(0)"><input type="radio" checked="checked" class="styled" name="radio0"/>全部</label></li>
                            <li><label ng-click="setVisitors(1)"><input type="radio" name="radio0"  class="styled" />新访客</label></li>
                            <li><label ng-click="setVisitors(2)"><input type="radio" name="radio0"  class="styled"/>老访客</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="custom_secendtitle">
                <div class="custom_select custom_select_way">转化目标
                    <div role="group" class="btn-group">
                        <select name="bid" id="brand_3">
                            <option label="全部页面目标">
                            <option ng-repeat="p in pages">&nbsp;&nbsp;{{p.name}}</option>
                            </option>
                            <option label="全部事件目标">
                            <option ng-repeat="e in events">&nbsp;&nbsp;{{e.name}}</option>
                            </option>
                            <option label="时长目标"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="custom_table" ng-class="{hidePageContainer:gridApi2.grid.rows.length<=20}">
                <div ui-grid="gridOptions" class="grid clearfix" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>