<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bitbug_favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>百思慧眼</title>
    <link rel="stylesheet/less" type="text/css" href="../css/styles.less">
    <style type="text/css">
        .tab-content{
            border-top:1px solid #e3e3e3;
        }
        .custom_table{
            border-top:1px solid #ffffff;

        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="#"><img src="../img/logo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse top_menu" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html"><span aria-hidden="true" class="glyphicon glyphicon-home"></span>网站概览</a></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        网站： www.best-ad.cn<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">www.perfect.com</a></li>
                        <li><a href="#">www.best-ad.cn</a></li>
                        <li><a href="#">www.perfect-cn.cn</a></li>
                    </ul>
                </li>
                <li><a href="#"> <span aria-hidden="true" class="glyphicon glyphicon-user"></span>管理员</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span>退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="containers">
        <div class="menu">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group ">
                <div class="panel panel-default">
                    <div id="headingOne" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseOne" aria-expanded="false" href="../index.html"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-th-large"></span>网站概览
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="panel panel-default ">
                    <div id="headingTwo" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseTwo" aria-expanded="true" href="#collapseTwo"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-stats"></span>趋向分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse " id="collapseTwo"
                         aria-expanded="true">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../Trendanalysis/Visitor.html">实时访客</a></li>
                                <li  ><a href="../Trendanalysis/tongji.html">今日统计</a></li>
                                <li><a href="../Trendanalysis/Yesterday.html">昨日统计</a></li>
                                <li><a href="../Trendanalysis/Month.html">最近30天</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingThree" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-globe"></span>来源分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse" id="collapseThree"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../Source/Source.html">全部来源</a></li>
                                <li><a href="../Source/Searchengine.html">搜索引擎</a></li>
                                <li><a href="../Source/Searchterm.html">搜索词</a></li>
                                <li><a href="../Source/Externallinks.html">外部链接</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default current">
                    <div id="headingFive" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-blackboard"></span>页面分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse" id="collapseFive"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="Visitedpages.html">受访页面</a></li>
                                <li ><a href="Entrancepage.html">入口页面</a></li>
                                <li class="current"><a href="pagetitle.html">页面标题</a></li>
                                <li><a href="#">离站链接</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingFoure" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFoure" aria-expanded="false" href="#collapseFoure"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-signal"></span>访客分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFoure" role="tabpanel" class="panel-collapse" id="collapseFoure"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../Visitorsanalysis/VisitorMap.html">访客地图</a></li>
                                <li><a href="../Visitorsanalysis/Equipment.html">设备环境</a></li>
                                <li><a href="../Visitorsanalysis/Novisitors.html">新老访客</a></li>
                                <li><a href="../Visitorsanalysis/Visitorfeature.html">访客特征</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle ">
            <div class="middle_containers">
                <div class="date_select date_text">
                   热力图和链接点击图提供最近30天查询功能，数据从11月1日开始计算。
                </div>
                <div class="my_concent">
                    <div class="pagetitle_search">
                        <div class="input-group fl">
                            <input type="text" placeholder="热力图监控页面…" class="form-control fl">
                                <span class="input-group-btn fl">
                                   <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                 </span>
                        </div>
                        <span class="pagetitle_text fl">本功能将同时搜索“手动设置”与“自动设置”两部分，通过关键字段模糊匹配对应的页面点击监控页面。</span>
                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">手动设置</a></li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                                    <div class="custom_table">
                                        <table id="pagetitle_table"  class="table table-hover" >
                                        </table>
                                        <div id="pager2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/less.js"></script>
<script src="../js/jquery.jqGrid.src.js"></script>
<script type="text/javascript" src="../js/table/pagetitle_table.js"></script>
</body>
</html>