<!--来源分析-外部链接-->
<div class="middle_containers" ng-controller="externallinksctr">
    <div class="date_select">
        <calendar></calendar>
        <dateother></dateother>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <!--<ssh-date-show type="today" dimension="rf"></ssh-date-show>-->
        <ssh-e-s-date-show></ssh-e-s-date-show>
        <div class="index_chart">
            <div id="indicators_charts_legend"></div>
            <div class="pin_chart">
                <div id="sourse_charts" class="chart_height"></div>
            </div>
            <div class="line_chart">
                <div id="indicators_charts" class="chart_height"></div>
                <div class="chart-bottom">
                    <ul>
                        <li><span class="chart_box" style="background:#2fabe9;"></span><b id="chartlink"></b></li>
                        <li>总<b id="chartname"></b>：<span id="chartnumber"></span></li>
                        <li>占比：<span id="chartpointe"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <ul ng-init="tab = 1" class="nav nav-tabs nav-justified">
                <li class="ng-isolate-scope" ng-class="{active:tab===1}" ng-click="tab = 1">
                    <a class="ng-binding">自定义指标</a></li>
                <li class="ng-isolate-scope" ng-class="{active:tab===2}" ng-click="tab = 2">
                    <a class="ng-binding">高级筛选
                        <span class="impliedCondition">
                            <span ng-show="webTypeSearch || exTerminalSearch">（</span>
                            <span ng-show="exTerminalSearch" class="advanceSearch">
                                {{exTerminalSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeTerminalSearch(this);"></i>
                            </span>
                            <span ng-show="webTypeSearch" class="advanceSearch">
                                {{webTypeSearch}}<i class="glyphicon glyphicon-remove" data-ng-click="removeWebTypeSearch(this);"></i>
                            </span>
                            <span ng-show="webTypeSearch || exTerminalSearch">）</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tabs_content">
                <div class="custom_title" ng-show="tab === 1">
                    <div class="chart_top chart_default">
                        <ul>
                            <li><a href="javascript:void(0)" data-ssh-default-quota="source_externallinks">系统默认指标</a>
                            </li>
                       <!--     <li><a href="javascript:void(0)"> 订单默认指标</a></li>-->
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>网站基础指标 :</span>
                        <ul>
                            <li ng-repeat="item in TodayWeb" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>流量质量指标:</span>
                        <ul>
                            <li ng-repeat="item in Todayfloweds" data-sshy-default defvalue="{{item.name}}"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <!--<div class="chart_top">
                        <span>转化指标:</span>
                        <ul>
                            <li ng-repeat="item in Todytransform"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>
                    <div class="chart_top">
                        <span>订单转化指标:</span>
                        <ul>
                            <li ng-repeat="item in Order"
                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                ng-click='indicators(item,Order,6)'>{{item.consumption_name}}
                            </li>
                        </ul>
                    </div>-->
                    <div class="chart_top chart_noborder">
                        <button class="btn btn-primary" type="button" ng-click="targetSearch(true)">确定</button>
                        * 可同时选择6项
                    </div>
                </div>
                <div class="custom_title" ng-show="tab === 2">
                    <div class="chart_top2 chart_top2_1">
                        <ul>
                            <li><span>设备过滤:</span></li>
                            <li><label ng-click="setExLinkTerminal(0)"><input type="radio" checked="checked"
                                                                              name="radio0" class="styled"/>全部</label>
                            </li>
                            <li><label ng-click="setExLinkTerminal(1)"><input type="radio" name="radio0"
                                                                              class="styled"/>计算机</label></li>
                            <li><label ng-click="setExLinkTerminal(2)"><input type="radio" name="radio0"
                                                                              class="styled"/>移动设备</label></li>
                        </ul>
                    </div>
                    <div class="chart_top2 chart_top2_2">
                        <ul>
                            <li><span>网站类型:</span></li>
                            <li><label ng-click="webClass(0)"><input type="radio" checked="checked" name="radio1"
                                                                     class="styled"/>全部 </label></li>
                            <li><label ng-click="webClass(1)"><input type="radio" name="radio1"
                                                                     class="styled"/>社会化媒体</label></li>
                            <li><label ng-click="webClass(2)"><input type="radio" name="radio1"
                                                                     class="styled"/>导航网站</label></li>
                            <li><label ng-click="webClass(3)"><input type="radio" name="radio1"
                                                                     class="styled"/>电子邮箱</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="custom_secendtitle">
                <div class="custom_select">
                    <div class="input_group fl">
                        <ul>
                            <li><label ng-click="setURLDomain('rf')"><input type="radio" checked="checked" name="radio2"
                                                                            class="styled"/>按URL</label></li>
                            <li><label ng-click="setURLDomain('dm')"><input type="radio" name="radio2" class="styled"/>按域名</label>
                            </li>
                        </ul>
                    </div>
                    <div class="input-group fl">
                        <input type="text" class="form-control fl" placeholder="输入域名…" data-ng-model="searchURLText"
                               onfocus="this.setAttribute('placeholder','')"
                               onblur="this.setAttribute('placeholder','输入域名...')">
                                       <span class="input-group-btn fl">
                                 <button class="btn btn-default" type="button"
                                         data-ng-click="searchURLFilterBySourceEl(searchURLText)"><span
                                         class="glyphicon glyphicon-search"
                                         aria-hidden="true"></span>
                                 </button>
                                   </span>
                    </div>
                    <!--<b></b>转化目标-->
                    <!--<div role="group" class="btn-group">-->
                    <!--<ui-select ng-model="extendway.selected" theme="selectize" class="fl"-->
                    <!--style="width: 120px;">-->
                    <!--<ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>-->
                    <!--<ui-select-choices repeat="extendway in extendways">-->
                    <!--<span ng-bind-html="extendway.name"></span>-->
                    <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="custom_table" ng-class="{hidePageContainer:gridApi2.grid.rows.length<=20}">
                <div ui-grid="gridOptions" class="grid clearfix" ui-grid-pagination
                     ui-grid-exporter ui-grid-auto-resize></div>
                <gridpage></gridpage>
            </div>
        </div>
    </div>
</div>