<div class="middle_containers" ng-controller="searchtermctr">
    <div class="date_select">
        <div aria-label="First group" role="group" class="btn-group fl">
            <a class="btn btn-default current" type="button" data-ng-href="#source/searchterm">按指标分类</a>
            <a class="btn btn-default" type="button" data-ng-href="#source/searchterm_yq">按搜索引擎</a>
        </div>
        <calendar></calendar>
        <dateother></dateother>
        <refresh></refresh>
    </div>
    <div class="my_concent">
        <ssh-date-show type="today" dimension="kw"></ssh-date-show>
        <div class="index_chart">
        </div>
        <div class="table_content" ng-controller="TabsCtrl">
            <tabset justified="true">
                <tab heading="自定义指标">
                    <div class="custom_title">
                        <div class="chart_tops chart_default">
                            <ul>
                                <li><a href="javascript:void(0)" data-ssh-default-quota="source_searchterm">系统默认指标</a></li>
                                <li><a href="#"> 订单默认指标</a></li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>网站基础指标 :</span>
                            <ul>
                                <li ng-repeat="item in TodayWeb" data-sshy-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>流量质量指标:</span>
                            <ul>
                                <li ng-repeat="item in Todayfloweds" data-sshy-default defvalue="{{item.name}}"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <!--<div class="chart_top">
                            <span>转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Todytransform"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top">
                            <span>订单转化指标:</span>
                            <ul>
                                <li ng-repeat="item in Order"
                                    class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                    ng-click='indicators(item,Order,6)'>{{item.consumption_name}}
                                </li>
                            </ul>
                        </div>-->
                        <div class="chart_top chart_noborder">
                            <button class="btn btn-primary" type="button" ng-click="targetSearch(true)">确定</button>
                            * 可同时选择6项
                        </div>
                    </div>
                </tab>
                <tab heading="高级筛选">
                    <div class="custom_title">
                        <div class="chart_top2">
                            <ul>
                                <li><span>设备过滤:</span></li>
                                <li><input type="radio" checked="checked" name="radio1" ng-click="setTerminal(0)"/>
                                    <label>全部</label></li>
                                <li><input type="radio" name="radio1" ng-click="setTerminal(1)"/> <label>计算机</label>
                                </li>
                                <li><input type="radio" name="radio1" ng-click="setTerminal(2)"/> <label>移动设备</label>
                                </li>
                            </ul>
                        </div>
                        <div class="chart_top2">
                            <ul>
                                <li><span>地域过滤:</span></li>
                                <li>
                                    <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="city.selected" theme="select2" reset-search-input="false" class="fl"
                                                       data-ng-change="setAreaFilter(city.selected.name)"
                                                       style="width: 80px;">
                                                <ui-select-match placeholder="全部">{{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="city in citys">
                                                    <span ng-bind-html="city.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('北京')">北京</a></li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('上海')">上海</a></li>
                                <li><a href="javascript:void(0)" data-ng-click="setAreaFilter('广州')">广州</a></li>
                            </ul>
                        </div>
                    </div>
                </tab>
            </tabset>
            <div class="custom_secendtitle">
                <div class="custom_select">
                    <div class="input-group fl">
                        <input type="text" placeholder="关键词/搜索词…" data-ng-model="searchGjcText" class="form-control fl" onfocus="this.setAttribute('placeholder','')" onblur="this.setAttribute('placeholder','关键词/搜索词…')">
                                       <span class="input-group-btn fl">
                                 <button type="button" class="btn btn-default" data-ng-click="setGjcFilter(searchGjcText)"><span aria-hidden="true"
                                                                                     class="glyphicon glyphicon-search"></span>
                                 </button>
                                   </span>
                    </div>
                    <!--<b></b>转化目标-->
                    <!--<div role="group" class="btn-group">-->
                    <!--<ui-select ng-model="extendway.selected" theme="select2" reset-search-input="false" class="fl"-->
                    <!--style="width: 120px;">-->
                    <!--<ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>-->
                    <!--<ui-select-choices repeat="extendway in extendways">-->
                    <!--<span ng-bind-html="extendway.name"></span>-->
                    <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="custom_table">
                <div ui-grid="gridOptions" class="grid" style="height:400px;" ui-grid-pagination ui-grid-selection
                     ui-grid-exporter></div>
                <gridpage></gridpage>

            </div>
        </div>
    </div>
</div>