      <div class="middle_containers">
                <div class="date_select">
                    <calendar></calendar>
                    <dateother></dateother>
                    <div class="fr">
                        <button class="btn btn-default btn-Refresh" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop3">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                    <div class="date_show dateshow2">
                        <ul>
                            <li class="date_first"><h4>浏览量(PV)</h4><span>34</span></li>
                            <li class="date_third"><h4>访客数(UV)</h4><span>34</span></li>
                            <li class="date_four"><h4>订单数 </h4><span>2,574</span></li>
                            <li class="date_five"><h4>订单金额 </h4><span>90</span></li>
                            <li class="date_last"><h4>订单转化率 </h4><span>90</span></li>
                        </ul>

                    </div>
                    <div class="index_chart">
                        <div class="chart_top">
                            <ul>
                                <li><label>指标：</label></li>
                                <li><input type="checkbox" checked="checked" name="radio1"/> <label>浏览量(PV)</label>
                                </li>
                                <li><input type="checkbox" checked="checked" name="radio1"/> <label>访问次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>转化次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单金额</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单转化率</label></li>
                                <li class="disabled">* 可同时选择1项</li>
                            </ul>
                        </div>
                        <div id="sourse_charts" style="height:400px;float:left;width:30%;"></div>
                        <div id="indicators_charts" style="height:400px;float:right;width:70%;"></div>

                    </div>
                    <div class="table_content" ng-controller="TabsCtrl">
                        <tabset justified="true">
                            <tab heading="自定义指标">
                                <div class="custom_title">
                                    <div class="chart_tops chart_default">
                                        <ul>
                                            <li><a href="#">系统默认指标 </a></li>
                                            <li><a href="#"> 订单默认指标</a></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <span>网站基础指标 :</span>
                                        <ul>
                                            <li ng-repeat="item in TodayWeb" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                                ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <span>流量质量指标:</span>
                                        <ul>
                                            <li ng-repeat="item in Todayfloweds" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                                ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <span>转化指标:</span>
                                        <ul>
                                            <li ng-repeat="item in Todytransform"
                                                class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                                ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <span>订单转化指标:</span>
                                        <ul>
                                            <li ng-repeat="item in Order" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                                ng-click='indicators(item,Order,6)'>{{item.consumption_name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="chart_top chart_noborder">
                                        <button class="btn btn-primary" type="button">确定</button>
                                        * 可同时选择6项
                                    </div>

                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        <input type="radio" checked="checked" name="radio1"/>
                                        <label>按域名</label>
                                        <input type="radio" checked="checked" name="radio1"/>
                                        <label>按URL</label>
                                        <b></b>转化目标
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="extendway.selected" theme="selectize" class="fl" style="width: 120px;">
                                                <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="extendway in extendways">
                                                    <span ng-bind-html="extendway.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="高级筛选">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>设备过滤:</span></li>
                                            <li><input type="radio" checked="checked" name="radio1"/>
                                                <label>全部</label></li>
                                            <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                            <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>地域过滤:</span></li>
                                            <li>
                                                <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                                    <div role="group" class="btn-group">
                                                        <ui-select ng-model="continent.selected" theme="selectize" ng-disabled="disabled" class="fl"
                                                                   style="width: 80px;">
                                                            <ui-select-match placeholder="大洲">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="continent in continents">
                                                                <span ng-bind-html="continent.name"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div role="group" class="btn-group">
                                                        <ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled" class="fl"
                                                                   style="width: 80px;">
                                                            <ui-select-match placeholder="国家">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="country in countrys">
                                                                <span ng-bind-html="country.name"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div role="group" class="btn-group">
                                                        <ui-select ng-model="city.selected" theme="selectize" class="fl" style="width: 80px;">
                                                            <ui-select-match placeholder="城市">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="city in citys">
                                                                <span ng-bind-html="city.name"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>

                                                </div>
                                            </li>
                                            <li><a href="#">北京</a></li>
                                            <li><a href="#">上海</a></li>
                                            <li><a href="#">广州</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                       转化目标
                                        <div role="group" class="btn-group">
                                            <ui-select ng-model="extendway.selected" theme="selectize" class="fl" style="width: 120px;">
                                                <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="extendway in extendways">
                                                    <span ng-bind-html="extendway.name"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                        <div class="custom_table">
                            <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-selection ui-grid-exporter></div>
                        </div>
                    </div>
                </div>
            </div>
