<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bitbug_favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>百思慧眼</title>
    <link rel="stylesheet/less" type="text/css" href="../css/styles.less">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="#"><img src="../img/logo.jpg"></a>
        </div>
        <div class="collapse navbar-collapse top_menu" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html"><span aria-hidden="true" class="glyphicon glyphicon-home"></span>网站概览</a></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        网站： www.best-ad.cn<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">www.perfect.com</a></li>
                        <li><a href="#">www.best-ad.cn</a></li>
                        <li><a href="#">www.perfect-cn.cn</a></li>
                    </ul>
                </li>
                <li><a href="#"> <span aria-hidden="true" class="glyphicon glyphicon-user"></span>管理员</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span>退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="containers">
        <div class="menu">
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group ">
                <div class="panel panel-default">
                    <div id="headingOne" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseOne" aria-expanded="false" href="../index.html"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-th-large"></span>网站概览
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="panel panel-default ">
                    <div id="headingTwo" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseTwo" aria-expanded="true" href="#collapseTwo"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-stats"></span>趋向分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse " id="collapseTwo"
                         aria-expanded="true">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../trend/Visitor.html">实时访客</a></li>
                                <li  ><a href="../trend/tongji.html">今日统计</a></li>
                                <li><a href="../trend/Yesterday.html">昨日统计</a></li>
                                <li><a href="../trend/Month.html">最近30天</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default current">
                    <div id="headingThree" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-globe"></span>来源分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse" id="collapseThree"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="Source.html">全部来源</a></li>
                                <li class="current"><a href="Searchengine.html">搜索引擎</a></li>
                                <li><a href="Searchterm.html">搜索词</a></li>
                                <li><a href="Externallinks.html">外部链接</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingFive" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-blackboard"></span>页面分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse" id="collapseFive"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../page/Visitedpages.html">受访页面</a></li>
                                <li ><a href="../page/Entrancepage.html">入口页面</a></li>
                                <li ><a href="../page/pagetitle.html">页面标题</a></li>
                                <li><a href="#">离站链接</a></li>>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="headingFoure" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseFoure" aria-expanded="false" href="#collapseFoure"
                               data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                <span aria-hidden="true" class="glyphicon glyphicon-signal"></span>访客分析
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="headingFoure" role="tabpanel" class="panel-collapse" id="collapseFoure"
                         aria-expanded="false">
                        <div class="panel-body">
                            <ul>
                                <li><a href="../visitor/VisitorMap.html">访客地图</a></li>
                                <li><a href="../visitor/Equipment.html">设备环境</a></li>
                                <li><a href="../visitor/Novisitors.html">新老访客</a></li>
                                <li><a href="../visitor/Visitorfeature.html">访客特征</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle ">
            <div class="middle_containers">
                <div class="date_select">
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default disabled" type="button">时间</button>
                        <button class="btn btn-default current" type="button"> 昨天</button>
                        <button class="btn btn-default" type="button">最近7天</button>
                        <button class="btn btn-default" type="button">最近30天</button>
                        <button class="btn btn-default" type="button">自定义<span aria-hidden="true"
                                                                               class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default" type="button"><input type="checkbox" checked="checked"/>
                            与其他时间段对比
                        </button>
                    </div>
                    <div class="fr">
                        <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop3">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                    <div class="date_show dateshow2">
                        <ul>
                            <li class="date_first"><h4>浏览量(PV)</h4><span>34</span></li>
                            <li class="date_third"><h4>访客数(UV)</h4><span>34</span></li>
                            <li class="date_four"><h4>订单数 </h4><span>2,574</span></li>
                            <li class="date_five"><h4>订单金额 </h4><span>90</span></li>
                            <li class="date_last"><h4>平均访问页数 </h4><span>90</span></li>
                        </ul>

                    </div>
                    <div class="index_chart">
                        <div class="chart_top">
                            <ul>
                                <li><label>指标：</label></li>
                                <li><input type="checkbox" checked="checked" name="radio1"/> <label>浏览量(PV)</label>
                                </li>
                                <li><input type="checkbox" checked="checked" name="radio1"/> <label>访问次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>转化次数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单数</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单金额</label></li>
                                <li><input type="checkbox" name="radio1"/> <label>订单转化率</label></li>
                                <li class="disabled">* 可同时选择1项</li>
                            </ul>
                        </div>
                        <div id="sourse_charts" style="height:400px;float:left;width:30%;"></div>
                        <div id="indicators_charts" style="height:400px;float:right;width:70%;"></div>

                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">自定义指标</a></li>
                            <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab"
                                                                id="profile-tab" role="tab" href="#profile"
                                                                aria-expanded="false">高级筛选</a></li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                                <div class="custom_title">

                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>设备过滤:</span></li>
                                            <li><input type="radio" checked="checked" name="radio1"/>
                                                <label>全部</label></li>
                                            <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                            <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>地域过滤:</span></li>
                                            <li> <div aria-label="Button group with nested dropdown" role="group" class="btn-group">
                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop1">
                                                        大洲
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#">欧洲</a></li>
                                                        <li><a href="#">南美洲</a></li>
                                                    </ul>
                                                </div>
                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop5">
                                                        国家
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#">印度</a></li>
                                                        <li><a href="#">俄罗斯</a></li>
                                                    </ul>
                                                </div>
                                                <div role="group" class="btn-group">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop6">
                                                        城市
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                        <li><a href="#"> 成都</a></li>
                                                        <li><a href="#">成都 </a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">成都</a></li>
                                                        <li><a href="#">转化次数</a></li>
                                                    </ul>
                                                </div>
                                            </div></li>
                                            <li><a href="#">北京</a></li>
                                            <li><a href="#">上海</a></li>
                                            <li><a href="#">上海</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        转化目标
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop">
                                                全部页面目标
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">全部页面目标</a></li>
                                                <li><a href="#">公告</a></li>
                                                <li><a href="#">全部事件目标</a></li>
                                                <li><a href="#">完整下载</a></li>
                                                <li><a href="#">在线下载</a></li>
                                                <li><a href="#">时长目标</a></li>
                                                <li><a href="#">访问页数目标</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                        <table id="Searchchengine_table"  class="table table-hover" >
                                        </table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>设备过滤:</span></li>
                                            <li><input type="radio" checked="checked" name="radio1"/>
                                                <label>全部</label></li>
                                            <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                            <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        <div class="input-group fl">
                                            <input type="text" placeholder="关键词/搜索词…" class="form-control fl">
                                       <span class="input-group-btn fl">
                                 <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                   </span>
                                        </div><b></b>转化目标
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop2">
                                                全部页面目标
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">全部页面目标</a></li>
                                                <li><a href="#">公告</a></li>
                                                <li><a href="#">全部事件目标</a></li>
                                                <li><a href="#">完整下载</a></li>
                                                <li><a href="#">在线下载</a></li>
                                                <li><a href="#">时长目标</a></li>
                                                <li><a href="#">访问页数目标</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                        <table id="vistior_table2"  class="table table-hover" >
                                        </table>
                                        <div id="pager2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/less.js"></script>
<script src="../js/jquery.jqGrid.src.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="../js/chart/indicators_charts.js"></script>
<script type="text/javascript" src="../js/chart/sourse_charts.js"></script>
<script type="text/javascript" src="../js/table/Searchchengine_table.js"></script>
<script type="text/javascript" src="../js/table/source_table2.js"></script>
</body>
</html>