<!--来源分析-全部来源-->
<div class="middle_containers" ng-controller="sourcectr">
                <div class="date_select">
                    <calendar></calendar>
                    <dateother></dateother>
                    <refresh></refresh>
                </div>
                <div class="my_concent">
                    <ssh-date-show type="today" dimension="rf_type"></ssh-date-show>
                    <div class="index_chart">
                        <!--<div class="chart_top">-->
                            <!--<ul>-->
                                <!--<li><label>指标：</label></li>-->
                                <!--<li><label><input type="radio"  checked="checked" name="rate" value="pv" ng-model="value" />浏览量(PV)</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="arrCount" name="rate" ng-change="change(value)"/> 访问次数</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="uv" name="rate" ng-change="change(value)"/> 访客数(UV)</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="newClient" name="rate" ng-change="change(value)"/> 新访客数</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="ip" name="rate" ng-change="change(value)"/> IP数</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="convertRate" name="rate" ng-change="change(value)"/> 转化次数</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="order" name="rate" ng-change="change(value)"/> 订单数</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="orderPrice" name="rate" ng-change="change(value)"/> 订单金额</label></li>-->
                                <!--<li><label><input type="radio" ng-model="value" value="orderConvert"  name="rate" ng-change="change(value)"/> 订单转化率</label></li>-->
                                <!--<li class="disabled">* 可同时选择1项</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <div id="source_charts_legend" style="position:absolute;width: 100%;"></div>
                        <div id="sourse_charts" style="height:400px;float:left;width:30%;"></div>
                        <div id="indicators_charts" style="height:400px;float:right;width:70%;position:relative;">  </div>
                    </div>
                    <div class="table_content" ng-controller="TabsCtrl">
                        <tabset justified="true">
                            <tab heading="自定义指标">
                                <div class="custom_title">
                                <div class="chart_top chart_default">
                                    <ul>
                                        <li><a href="#">系统默认指标</a></li>
                                        <li><a href="#">订单默认指标</a></li>
                                    </ul>
                                </div>
                                <div class="chart_top">
                                    <span>网站基础指标 :</span>
                                    <ul>
                                        <li ng-repeat="item in TodayWeb" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                            ng-click='indicators(item,TodayWeb,6)'>{{item.consumption_name}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="chart_top">
                                    <span>流量质量指标:</span>
                                    <ul>
                                        <li ng-repeat="item in Todayfloweds" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                            ng-click='indicators(item,Todayfloweds,6)'>{{item.consumption_name}}
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="chart_top">
                                    <span>转化指标:</span>
                                    <ul>
                                        <li ng-repeat="item in Todytransform" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                            ng-click='indicators(item,Todytransform,6)'>{{item.consumption_name}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="chart_top">
                                    <span>订单转化指标:</span>
                                    <ul>
                                        <li ng-repeat="item in Order" class="{{checkedArray.indexOf(item.name) != -1?classInfo:0}}"
                                            ng-click='indicators(item,Order,6)'>{{item.consumption_name}}
                                        </li>
                                    </ul>
                                </div>-->
                                <div class="chart_top chart_noborder">
                                    <button class="btn btn-primary" type="button" ng-click="targetSearch()">确定</button>
                                    * 可同时选择6项
                                </div>

                            </div>
                            </tab>
                            <tab heading="高级筛选">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>设备过滤:</span></li>
                                            <li><input type="radio" checked="checked" name="radio1"/>
                                                <label>全部</label></li>
                                            <li><input type="radio" name="radio1"/> <label>计算机</label></li>
                                            <li><input type="radio" name="radio1"/> <label>移动设备</label></li>
                                        </ul>
                                    </div>
                                </div>

                            </tab>
                        </tabset>
                        <div class="custom_secendtitle">
                            <div class="custom_select">
                                <input type="radio" checked="checked" name="radio1"/>
                                <label>按来源类型</label>
                                <input type="radio" checked="checked" name="radio1"/>
                                <label>按来源网站</label>
                                <b></b>转化目标
                                <div role="group" class="btn-group">
                                    <ui-select ng-model="extendway.selected" theme="selectize" class="fl" style="width: 120px;">
                                        <ui-select-match placeholder="全部页面目标">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="extendway in extendways">
                                            <span ng-bind-html="extendway.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="custom_table">
                            <div ui-grid="gridOptions" class="grid" style="height:400px;" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-expandable></div>
                        </div>
                    </div>
                </div>
            </div>