         <div class="middle_containers">
                <div class="date_select">
                    <indexoverview></indexoverview>
                    <calendar></calendar>
                    <dateother></dateother>
                    <refresh></refresh>
                </div>
                <div class="my_concent">
                    <div class="date_show dateshow2 dateshow_width ">
                        <ul>
                            <li class="date_first"><h4>浏览量(PV)</h4><span>34</span></li>
                            <li class="date_third"><h4>访客数(UV) </h4><span>100%</span></li>
                            <li class="date_four"><h4> 贡献下游浏览量</h4><span>2,574</span></li>
                            <li class="date_four"><h4>平均停留时长</h4><span>2,574</span></li>
                        </ul>
                    </div>
                    <div class="index_chart">

                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">高级筛选</a></li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>来源过滤 :</span></li>
                                            <li><div role="group" class="btn-group">
                                                <ui-select ng-model="souce.selected" theme="selectize" class="fl" style="width: 90px;">
                                                    <ui-select-match placeholder="全部">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="souce in souces">
                                                        <span ng-bind-html="souce.name"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                              <!--  <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                    <li><a href="#">直接访问</a></li>
                                                    <li><a href="#">搜索引擎</a></li>
                                                    <li><a href="#">外部连接</a></li>
                                                </ul>-->
                                            </div></li>
                                            <li><a href="#">百度</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        <div class="input-group fl">
                                            <input type="text" placeholder="输入URL…" class="form-control fl">
                                       <span class="input-group-btn fl">
                                 <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                   </span>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                        <table id="vister"  class="table table-hover" >
                                        </table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
