            <div class="middle_containers">
                <div class="date_select">
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default current" type="button"><a href="Pageanalysis/Entrancepage.html">指标概览</a>  </button>
                        <button class="btn btn-default " type="button"> <a href="secendpage/flowanalysis.html">流量分析</a></button>
                        <button class="btn btn-default " type="button"> <a href="secendpage/newvisitors.html">新访客分析</a> </button>
                        <button class="btn btn-default " type="button"> <a href="secendpage/attractivenessanalysis.html">吸引力分析</a> </button>
                        <button class="btn btn-default " type="button"> <a href="secendpage/analysistransformation.html">转化分析</a> </button>

                    </div>
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default disabled" type="button">时间</button>
                        <button class="btn btn-default current" type="button"> 昨天</button>
                        <button class="btn btn-default" type="button">最近7天</button>
                        <button class="btn btn-default" type="button">最近30天</button>
                        <button class="btn btn-default" type="button">自定义<span aria-hidden="true"
                                                                               class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                    <div aria-label="First group" role="group" class="btn-group fl">
                        <button class="btn btn-default" type="button"><input type="checkbox" checked="checked"/>
                            与其他时间段对比
                        </button>
                    </div>
                    <div class="fr">
                        <button class="btn btn-default" type="button"><span aria-hidden="true"
                                                                            class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <div role="group" class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                    type="button" id="btnGroupDrop3">
                                导出
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                <li><a href="#">保存</a></li>
                                <li><a href="#">导出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_concent">
                    <div class="date_show">
                        <ul>
                            <li class="date_first"><h4>访问次数</h4><span>34</span></li>
                            <li class="date_secend"><h4>访客数(UV)</h4><span>100%</span></li>
                            <li class="date_third"><h4>贡献浏览量 </h4><span>2,574</span></li>
                            <li class="date_four"><h4>平均访问时长</h4><span>90</span></li>
                            <li class="date_five"><h4>转化次数  </h4><span>90</span></li>
                            <li class="date_last"><h4>转化率  </h4><span>8%</span></li>
                        </ul>

                    </div>
                    <div id="sourse_charts" style="height:400px;float:left;width:30%;"></div>
                    <div id="indicators_charts" style="height:400px;float:right;width:70%;"></div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">自定义指标</a></li>
                            <li role="presentation" class="active"><a aria-controls="profile" data-toggle="tab"
                                                                id="profile-tab" role="tab" href="#profile"
                                                                aria-expanded="false">高级筛选</a></li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top">
                                        <ul>
                                            <li><a href="#">系统默认指标</a></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>网站基础指标 :</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>浏览量(PV)</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>访问次数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>访客数(UV)</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>新访客数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>新访客比率</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>IP数</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>流量质量指标:</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>跳出率</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>平均访问时长</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>平均访问页数</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <ul>
                                            <li><span>转化指标:</span></li>
                                            <li><input type="checkbox" checked="checked" name="radio1"/>
                                                <label>转化次数</label></li>
                                            <li><input type="checkbox" name="radio1"/> <label>转化率</label></li>
                                        </ul>
                                    </div>
                                    <div class="chart_top">
                                        <button class="btn btn-primary" type="button">确定</button>
                                        * 最多只能勾选两项
                                    </div>

                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        <div class="input-group fl">
                                            <input type="text" placeholder="关键词/搜索词…" class="form-control fl">
                                       <span class="input-group-btn fl">
                                 <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                   </span>
                                        </div>
                                        <b></b>
                                        转化目标
                                        <div role="group" class="btn-group">
                                            <button aria-expanded="false" data-toggle="dropdown"
                                                    class="btn btn-default dropdown-toggle" type="button"
                                                    id="btnGroupDrop">
                                                全部页面目标
                                                <span class="caret"></span>
                                            </button>
                                            <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                <li><a href="#">全部页面目标</a></li>
                                                <li><a href="#">公告</a></li>
                                                <li><a href="#">全部事件目标</a></li>
                                                <li><a href="#">完整下载</a></li>
                                                <li><a href="#">在线下载</a></li>
                                                <li><a href="#">时长目标</a></li>
                                                <li><a href="#">访问页数目标</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                       <table id="Indexoverview"  class="table table-hover" >
                                       </table>
                                        <div id="pager"></div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade active in" role="tabpanel">
                                <div class="custom_title">
                                    <div class="chart_top2">
                                        <ul>
                                            <li><span>来源过滤 :</span></li>
                                            <li><div role="group" class="btn-group">
                                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupDrop4">
                                                    全部
                                                    <span class="caret"></span>
                                                </button>
                                                <ul aria-labelledby="btnGroupDrop" role="menu" class="dropdown-menu">
                                                    <li><a href="#">直接访问</a></li>
                                                    <li><a href="#">搜索引擎</a></li>
                                                    <li><a href="#">外部连接</a></li>
                                                </ul>
                                            </div></li>
                                            <li><a href="#">百度</a></li>
                                            <li><a href="#">Google</a></li>
                                        </ul>
                                    </div>


                                </div>
                                <div class="custom_secendtitle">
                                    <div class="custom_select">
                                        <div class="input-group fl">
                                            <input type="text" placeholder="关键词/搜索词…" class="form-control fl">
                                       <span class="input-group-btn fl">
                                 <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                   </span>
                                        </div>
                                    </div>
                                    <div class="custom_table">
                                        <table id="overview_table"  class="table table-hover" >
                                        </table>
                                        <div id="pager2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>