
<script type="text/javascript" src="../js/heaturl/heaturl.js"></script>
<div class="middle_containers" ng-controller="heaturlctr">
    <style type="text/css">
        .tab-content {
            border-top: 1px solid #e3e3e3;
        }

        .custom_table {
            border-top: 1px solid #ffffff;

        }
        .date_select p{
            margin-left:10px;
            line-height:50px;
        }

        .iframebox {
            position: relative;
            height: 100%;
            width: 100%;
        }



    </style>
    <div class="date_select">
        <p>热力图和链接点击图提供最近30天查询功能，数据从11月1日开始计算。</p>
    </div>

    <div id="div_iframe" width="100%" height="100%" >


        <iframe id="iframe111" frameborder="0"  height="1000px"  width="100%">
        </iframe>


    </div>


</div>

