<div class="middle_containers" ng-controller="heatmapctr">
    <div class="date_select" set-class-when-at-top="fix-to-top">
        <div class="btn-group fl" role="group" aria-label="First group">

            <button class="btn btn-default" type="button" ng-click="yesterday()" ng-class="{'current':yesterdayClass}">
                昨天
            </button>
            <button type="button" ng-click="beforeyesterday()" ng-class="{'current':beforeyesterdayClass}"
                    class="btn btn-default">前天
            </button>
            <button class="btn btn-default" type="button" ng-click="sevenDay()" ng-class="{'current':sevenDayClass}">
                最近7天
            </button>
            <button class="btn btn-default" type="button" ng-click="month()" ng-class="{'current':monthClass}">最近30天
            </button>
            <button id="reportrange" class="btn btn-default pull-right date-picker my_picker" ng-click='timeclick()'
                    ng-hide="datechoice" ng-class="{'current':timeClass}" max="max" ng-model="date">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i><span></span></button>
            <span>浏览量：{{pv || 0}}</span>
            <span>页面点击：{{hits || 0}}</span>
        </div>

    </div>
    <div class="my_concent">
        <div class="ssh_heat_map" style="position: absolute"></div>
        <div class="ssh_heat_i_frame"></div>
    </div>
</div>

