<div class="middle_containers">
<style type="text/css">
    .tab-content{
        border-top:1px solid #e3e3e3;
    }
    .custom_table{
        border-top:1px solid #ffffff;

    }
</style>

                <div class="my_concent">
                    <div class="pagetitle_search">
                        <div class="input-group fl">
                            <input type="text" placeholder="热力图监控页面…" class="form-control fl">
                                <span class="input-group-btn fl">
                                   <button type="button" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                                 </span>
                        </div>
                        <span class="pagetitle_text fl">本功能将同时搜索“手动设置”与“自动设置”两部分，通过关键字段模糊匹配对应的页面点击监控页面。</span>
                    </div>
                    <div class="table_content">
                        <ul role="tablist" class="nav nav-tabs" id="myTab">
                            <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home"
                                                                      data-toggle="tab" role="tab" id="home-tab"
                                                                      href="#home">手动设置</a></li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" id="home" class="tab-pane fade active in" role="tabpanel">
                                    <div class="custom_table">
                                        <table id="pagetitle_table"  class="table table-hover" >
                                        </table>
                                        <div id="pager2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>