<div class="middle_containers" ng-controller="pagetitlectr">
    <style type="text/css">
        .tab-content {
            border-top: 1px solid #e3e3e3;
        }

        .custom_table {
            border-top: 1px solid #ffffff;

        }

        .date_select p {
            margin-left: 10px;
            line-height: 50px;
        }
    </style>
    <div class="date_select">
        <p>热力图和链接点击图提供最近30天查询功能</p>
    </div>
    <div class="my_concent concent_fix_top">
        <div class="pagetitle_search">
            <div class="input-group fl">
                <input type="text" data-ng-model="pageUrl" maxlength="128" placeholder="热力图监控页面…"
                       class="form-control fl" onfocus="this.setAttribute('placeholder','')"
                       onblur="this.setAttribute('placeholder','热力图监控页面...')">
                    <span class="input-group-btn fl">
                       <button type="button" class="btn btn-default" data-ng-click="searchGridData()"><span
                               aria-hidden="true" class="glyphicon glyphicon-search"></span>
                       </button>
                     </span>
            </div>
            <span class="pagetitle_text fl">本功能将同时搜索“手动设置”与“自动设置”两部分，通过关键字段模糊匹配对应的页面点击监控页面。</span>
        </div>
        <div class="chart_top chart_noborder">
            <button class="btn btn-primary" type="button" ng-click="openAddDialog()">手动添加</button>
        </div>
        <!--网站上半部分列表-->
        <div class="table_content">
            <div class="custom_table" ng-class="{hidePageContainer:gridApi2.grid.rows.length<=20}"
                 style=" margin-top:20px;">
                <div ui-grid="gridOptions" class="grid clearfix secondary_table transfortables" ui-grid-selection
                     ui-grid-pagination
                     ui-grid-exporter ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>